section.section.section_form-main
	.container
		.form-main
			.form-main__title Оставьте заявку, наш специалист свяжется с Вами
			.form-main__title-min Оставьте заявку
			form.form-main__form
				input.form-main__inp.hidden(name="hotel" value = "Systemice Event (Teambuilding)")
				input.form-main__inp.form-main__inp_name(name="name" placeholder="Имя" required="" type="text")
				input.form-main__inp.form-main__inp_phone(name="phone" placeholder="Телефон / e-mail" required="" type="text")
				button.form-main__btn(type="submit" onclick=`yaCounter${yaCount}.reachGoal('main_order'); return true`, type="submit" ) Отправить
