section.section-form
	.section-form-title Подготовим для вас индивидуальное ценовое предложение <br> в течение 30 минут после Вашего обращения.
	form.form-spectarif(action='http://maot.ru/podmsk/tilda/les_landing.php', method='POST',)
		input.form-spectarif__inp.hidden(name="hotel" , value=`корп.ленд. ${title}`)
		input.form-spectarif__inp(name="name", placeholder="Ваше имя", type="text")
		input.form-spectarif__inp.form-spectarif__inp-phone(name="phone", placeholder="Ваш телефон", type="tel", required="")
		button.form-spectarif__btn(onclick=`yaCounter${yaCount}.reachGoal('get_corptarif'); return true`, type="submit" ) Получить СПЕЦТАРИФ
