a.touch-menu
	#nav-icon
		span
		span
		span
//+nav('nav', ["На главную", "Номера", "Залы", "Рестораны", "SPA", "Развлечения", "Контакты"], ["#main", "#rooms", "#halls", "#restourans", "#spa", "#entertainment", "#contacts"], 1)