include ./sections/_mixins

block variables

doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content="width=device-width, initial-scale=1" )
		link(href='/assets/libs/bootstrap.min.css', rel='stylesheet')
		link(href='/assets/libs/magnific-popup.css', rel='stylesheet')
		link(href='/assets/css/main.css', rel='stylesheet')
		link(href="http://allfont.ru/allfont.css?fonts=open-sans", rel="stylesheet",  type="text/css")
		link(href="http://allfont.ru/allfont.css?fonts=open-sans-light", rel="stylesheet",  type="text/css")

	block title
		title Главная Страница
	body
		.wrapper
		.maincontent
			a#phone-form_link(href="tel:+74996538011", data-reach_goal="goal_clickphone_0", data-where="corp") 7 (499) 653-80-11
			include ./sections/phone-form
			a.touch-menu
				svg.test-svg(width="70px", height="70px", viewBox="0 0 70 70")
					g
						line.test-line#line_1(x1="0", y1="3", x2="60", y2="3")
						line.test-line.line_2(x1="0", y1="21", x2="60", y2="21")
						line.test-line#line_3(x1="0", y1="39", x2="60", y2="39")
					animate (xlink:href="#line_1", attributeName="y2", from="3",						to="39", dur="1s", begin="click",fill="freeze")
					animate (xlink:href="#line_3", attributeName="y2", from="39",	to="3", dur="1s", begin="click",fill="freeze")
				//img.touch-menu__img(src='./assets/img/hamburger.svg')
			+nav('nav', ["Рассчитать за 30 минут", "На главную", "Всё включено", "Номера", "Залы", "Рестораны", "SPA", "Развлечения", "Контакты"], ["/#form30", "/#main", "/#allinclusive", "/#rooms", "/#halls", "/#restourans", "/#spa", "/#entertainment", "/#contacts"], 1)


			block content

include ./sections/footer

