.header_main
	position: fixed
	top: 30px
	left: 0
	right: 0
	z-index: 50
.header_main__wrap

	display: flex
	flex-direction: row
	justify-content: space-between
.logo
	flex: 2
	font-family: $sans-semib
	&-name
		font-size: 24px
	&-desc
		font-size: 10px

.nav-main
	flex: 8
	font-size: $f-m
	padding-top: 10px
.phone_header
	flex: 2
	text-align: right
	padding-top: 10px
	font-family: $sans-semib
	font-size: $f-m