-
	var progs= {
		creatives: {
			instaq: {
				title: "InstaQuests",
				slider: ['1', '2', '3'] ,
				desc: {
					info: "Фото-квест – это творческая и юмористическая игра, в которой участники дают ответы на вопросы в виде моментальных снимков (polaroid). В финале игры проводится голосование, а победители  получают альбом с лучшими фото. ",
					dur: "1,5 - 2 часа",
					amount: "20 – 120 чел.",
					cost: "от 1850 на чел."
				},
				text: {
					steps: "<p>это творческие задания, которые включают в себя активные командные задания и поисковые и фото-задания. На фото могут оказаться кадры из популярных фильмов, иллюстрации к высказыванием или историческим фактам или же картинки, иллюстрирующие корпоративные ценности компании. </p> " +
					"<p>Приятный бонус для участников в том, что все фото мгновенно распечатываются на фотоаппарате Polaroid, которые можно оставить на память.</p>" +
					" <p>В финале командные работы оценивает специальное жюри, проводится голосование за лучшие работы, при этом ведущий делает это в юмористической манере. Самые удачные фото участники квеста комментируют со сцены. </p>" +
					"<p>Победители получают альбом с лучшими фотографиями игры. Квест отлично подходит как один из вариантом тимбилдинга, потому что сочетает в себе, как командные задания, так и индивидуальные, где каждый участник может проявить себя в полной мере, а веселая и беззаботная атмосфера направлена на сплочение коллектива.</p> ",
				place: "игру «Инста Квест» можно проводить практически на любой площадке: от парка или улицы до территории загородного отеля. Программу квеста легко можно адаптировать и под закрытые пространства при условии большой вместимости территории. ",
				features: "для проведения квеста требуется хорошее освещение, поэтому необходим дневной свет или хорошее внутренне освещение. Перед оглашением победителей требуется 30-40 минут, чтобы подготовить фотографии."
				}
			},

			chain: {
				title: "Квест «Цепная реакция»",
				slider: ['1', '2', '3'] ,
				desc: {
					info: "Команды создают непрерывную цепь из механических элементов - хитроумных устройств, которая сработает без сбоев от первого и до последнего элемента! Последнее устройство в цепи открывает общий финал-сюрприз!",
					dur: "2 - 4 часа (оптимально от 3-х часов)",
					amount: "30 – 200 чел.",
					cost: "от 1111 на чел."
				},
				text: {
					steps: "<p>Хотите вместе со своей командой почувствовать позитивный эффект домино? Постройте цепь механизмов и запустите цепную реакцию. Программа подходит и физикам и лирикам - проверено!  </p> " +
					"<p>Команды создают непрерывную цепь из механических элементов, которая сработает без сбоев от первого и до последнего элемента! Каждое звено цепи – результат творческой работы отдельной команды. А объединенные в общую цепь звенья – результат творчества всей команды. " +
					" <p>Наглядная визуализация вклада каждого в  общую картину. К тому же – это ВЕСЕЛО! Подробности на видео. </p>" +
					"<p>Устройства могут совершенно разными: классическая механика (качели, трубы, горки, шарики, веревки), жидкости (переливание, кораблики с парусами), упругие элементы (резинки, пружины), электричество (электромагниты, электромоторы, лампочки), химические реакции (таящий лед, кола, ментос). </p> " +
					"<p>Каждая команда строит свою цепочку: одни моделируют автомобиль и горку, другие – трассу, с которой скатывается мяч. В финале запускается цепная реакция, длина цепочки событий зависит только от фантазии команд.</p>",
					place: "на улице или в помещении.  Особенности: ровная открытая площадка. Если проводится в помещении, то расчет  4-5кв.м на человека.",
					features: ""
				}
			},
		staff: {
		title: "Квест «Посох зимы»",
		slider: ['1', '2', '3'] ,
		desc: {
		info: "Новогодний квест, в котором участники помогают Дедушке Морозу вернуть утерянный, при странных обстоятельствах, Посох Зимы. Посох – древний атрибут Деда Мороза, символизирующий его могущество и начало Нового года. ",
		dur: "1,5-2 часа",
		amount: "10 – 200 чел",
		cost: "от 1111 на чел."
		},
		text: {
		steps: "<p>Новый год – самое долгожданное событие зимы. Праздник, наполненный волшебством и чудесами.</p> " +
		"<p>В каждый Новый год хочется окунуться в атмосферу сказки, почувствовать вкус праздника и ощутить себя героями любимых новогодних сказок." +
		" <p>Накануне Нового года произошло немыслимое! Был украден Посох Деда Мороза. </p>" +
		"<p>Теперь зима не наступит, а снег не укроет деревья пушистым одеялом.</p> " +
		"<p>Мы предлагаем Вам спасти Новый год и вернуть праздник. Вас ждет увлекательное путешествие в волшебный мир и встреча с помощниками Деда Мороза.  </p>" +
		"<p>Участникам предстоит решить множество головоломок и разгадать главную загадку Нового года -  куда же пропал Посох Зимы? </p>" +
		"<p>Для прохождения детективного квеста участники делятся на команды по 7-8 человек. В ходе игры команды решают сложные задачи, собирают улики и подсказки о местонахождении Посоха Деда Мороза. Этапы игры могут быть активными, творческими и интеллектуальными. </p>",
		place: "Программа может проходить как в городской местности, так и на территории загородного отеля.",
		features: ""
		}
		},

		questionCost: {
		title: "Игра «Цена вопроса»",
		slider: ['1', '2', '3'] ,
		desc: {
		info: "Азартная и веселая интеллектуальная викторина в оригинальном формате, который взял лучшее от популярных шоу ЧтоГдеКогда и Брейн Ринг. Проводится с помощью планшетов iPad  ",
		dur: "1 - 2 часа",
		amount: "20 – 400 чел.",
		cost: "от 1111 на чел."
		},
		text: {
		steps: "<p>Цена Вопроса - увлекательный микс из игр  «Что? Где? Когда?» и «Брейн-ринг», замешанный на современных технологиях. В командной игре-викторине на планшетах может участвовать любое количество человек. Вне зависимости от количества участников промежуточные итоги проводятся быстро. </p> " +
		"<p>Программа рассчитана на проведение в зале. Игра может быть как дополнение к Вашему банкету или гала-ужину, а также как и самостоятельный элемент или отдельная активность. " +
		" <p>Каждая команда получает в свое распоряжение планшет, с помощью которого отвечает на вопросы ведущего. Учитывается не только правильность, но и скорость ответа. На большом экране в режиме реального времени все участники видят общую статистику и ход игры.</p>" +
		"<p>Вопросы викторины могут быть ограничены заданной Вами тематикой. К тому же, ведущий задает свои вопросы командам, а также фото- и видео вопросы на экране и традиционный черный ящик.  </p> ",
		place: "закрытое помещение, шатёр.  Данный формат предполагает рассадку команд за круглыми столами",
		features: ""
		}
		},

		tvFormat: {
		title: "Игры  «телеформатов»",
		slider: ['1', '2', '3'] ,
		desc: {
		info: "<p>Посоревноваться </p>" +
		"<p>Последнее время модно проводить интеллектуальные состязания, что позволяет не только выявить эрудированность Ваших сотрудников, но и весело провести время и поднять корпоративный дух. Любой формат телевизионных можно адаптировать под Вашу компанию.</p>",
		dur: " ?? часа",
		amount: " ?? чел.",
		cost: "от ?? на чел."
		},
		text: {
		steps: "<p>Игры телеформатов – уникальное и весёлое времяпровождение в команде сотрудников, где фантазии нет предела. Хотите спортивный формат игры «Что? Где? Когда?» с настоящими хрустальными совами? Легко! А может вам больше по душе «Своя игра» или  «Интуиция»? «Устами младенца» Ваши дети с экрана будут вещать об особенностях вашей профессии, а может вспомним «Сто к одному» или «Испорченный телефон»? </p> " +
		"<p>Мы готовы сделать программу наиболее интересного вам формата. Быть умным – не значит быть скучным! А ведущим будет действующий член клуба знатоков.</p> ",
		place: "закрытое помещение, шатёр.  Чаще всего – рассадка участников за круглыми столами.",
		features: ""
		}
		},

		multiRace: {
		title: "Квест «Мультигонка»",
		slider: ['1', '2', '3'] ,
		desc: {
		info: "Мультигонка – это спортивное соревнование, в котором у команд есть возможность попробовать себя в нескольких видах спорта. Этапы игры настолько разнообразные, что к середине гонки командам становится важен не результат, а сам процесс. ",
		dur: "1,5 - 4  часа",
		amount: "20 – 300 чел.",
		cost: "от ?? на чел."
		},
		text: {
		steps: "<p>Мультигока – это  спортивное приключенческое соревнование, в котором команды набирают очки, проходя этапы в рамках контрольного времени. </p> " +
		"<p>Игра устроена таким образом, что на одном этапе будут побеждать более активные и физически подготовленные команда, на другом – те, кто проявляет смекалку и хитрость. Однако, даже не подготовленный участник сможет справиться с любым заданием гонки. </p>" +
		" <p>Мультигонка- это отличная игра, где каждый член команды сможет проявить себя с разных сторон. Во ходе прохождения испытаний участники попробуют свои силы в ориентировании на местности, покатаются на велосипеде, проплывут дистанцию на лодках или катамаранах. Вы увидите своих сотрудников и коллег в новом свете, а командный дух позволит еще больше сплотить коллектив. </p>",
		place: "открытая площадка",
		features: "Особенности: состав спортивных этапов может меняться в зависимости от возможностей площадки (вода, лес, трасса для велосипедов)"
		}
		},

		IceAge: {
		title: "«Ледниковый период»",
		slider: ['1', '2', '3'] ,
		desc: {
		info: "Активная игра на командообразование, где участники отправятся в путешествие по зимним просторам. В случае успешного прохождения всех испытаний команды смогут отыскать клад саблезубой белки – героини одноименного мультфильма. ",
		dur: "2 - 3 часа",
		amount: "10 – 600 чел.",
		cost: "от ?? на чел."
		},
		text: {
		steps: "<p>Парниковый эффект и загрязнение окружающей среды вызвали снежную бурю небывалой силы. </p> " +
		"<p>Звери, птицы и даже люди спрятались и приготовились пережидать непогоду. </p>" +
		" <p>Запасы продовольствия на исходе, и команда героев отправляется на поиски хранилища саблезубой белки. По слухам, хранилище настолько большое, что позволит целому городу дожить до лета. </p>" +
		"<p>Участников ждут активные игры с различными реквизитами и логические задания. Игра позволит сплотить коллектив, увидеть коллег в неформальной обстановке. </p> ",
		place: "Очищенная ровная поляна или большое помещение",
		features: ""
		}
		},


		kzt: {
		title: "«Короткое замыкание»",
		slider: ['1', '2', '3'] ,
		desc: {
		info: "<p>Игра, включающая в себя как физические упражнения, так и задачки на смекалку и логику. </p>" +
		"<p>Состязания укрепят отношения в коллективе, позволят узнать коллег с другой стороны. </p>",
		dur: "2 - 3 часа",
		amount: "10 – 100 чел.",
		cost: "от ?? на чел."
		},
		text: {
		steps: "<p>Сильнейший шторм прошел в окрестностях маленького городка «N». Дороги завалены снегом, линии электропередач безнадежно свисают лохмотьями с погнутых мачт. В преддверии Нового Года город погрузился во  мрак и тьму. Только Ваша команда способна вернуть мир на землю, возродить жизнь из пепла города «N». Командам нужно срочно выдвигаться в район бедствия и наладить подачу электричества для всего города.  </p> " +
		"<p>Решая логические задачи, участники игры будут шаг за шагом восстанавливать энергетический комплекс региона. Игра проходит с использованием подсветки и отлично подходит для темного времени суток. " +
		" <p>Каждая команда получает в свое распоряжение планшет, с помощью которого отвечает на вопросы ведущего. Учитывается не только правильность, но и скорость ответа. На большом экране в режиме реального времени все участники видят общую статистику и ход игры.</p>" +
		"<p>Вопросы викторины могут быть ограничены заданной Вами тематикой. К тому же, ведущий задает свои вопросы командам, а также фото- и видео вопросы на экране и традиционный черный ящик.  </p> ",
		place: "Очищенная ровная поляна или большое помещение",
		features: ""
		}
		},


		ropes: {
		title: "Верёвочный курс",
		slider: ['1', '2', '3'] ,
		desc: {
		info: "Веревочный курс – самая эффективная программа для сплочение коллектива. Игра призвана повысить уровень доверия между сотрудниками, а также помогает новичкам быстрее адаптироваться в коллективе и наладить коммуникативные связи. ",
		dur: "3 - 4 часа",
		amount: "15 – 200 чел.",
		cost: "от ?? на чел."
		},
		text: {
		steps: "<p>Игра проходит с использованием альпинистского снаряжения и при участии профессиональных инструкторов, психологов и альпинистов. Физическая подготовка участников не имеет никакого значения, к игре допускаются даже дети от 8 лет. Веревочный курс – это крутое испытание для всей команды, в ходе которого становится ясно, что человек в одиночку может добиться многого, но команда – может горы свернуть. </p>",
		place: "Очищенная лесопарковая зона, лучше всего сосновый лес, так как необходимы деревья для закрепления веревочных станций.",
		features: ""
		}
		},

		fortBoyard: {
		title: "Форт Боярд",
		slider: ['1', '2', '3'] ,
		desc: {
		info: "Активная игра по мотивам известной одноименной телепрограммы. Игра включает в себя как задания в антураже оригинального шоу, так и массу состязаний командного взаимодействия. ",
		dur: "2 - 4 часа",
		amount: "15 – 200 чел.",
		cost: "от ?? на чел."
		},
		text: {
		steps: "<p>Сценарий игры развивается по канонам оригинального шоу, в первой части приключения участники добывают подсказки, чтобы отгадать финальное ключевое слово, которое откроет двери в Сокровищницу. Время работает не на участников, поэтому каждую минуту нужно зарабатывать тяжелым трудом, проявляя командное взаимодействие. </p>" +
		"<p>Если вам близок дух авантюризма, а тяга к приключениям у вас в крови, то смело отправляйтесь на поиски Сокровищ в самом сердце Атлантического океана. </p>",
		place: "Городская местность или территория отеля..",
		features: ""
		}
		},

		treasureIsland: {
		title: "Остров сокровищ",
		slider: ['1', '2', '3'] ,
		desc: {
		info: "Хит продаж последних сезонов. Вас ждет захватывающее приключение, пройти которое вы сможете, заручившись ловкостью смекалкой и командным духом. ",
		dur: "2 - 3 часа",
		amount: "20 – 500 чел.",
		cost: "от ?? на чел."
		},
		text: {
		steps: "<p>Отправляйтесь на поиски приключений и пусть вам дует попутный ветер! Антураж игры максимально приближен к реальности, что позволит всей команде полностью погрузиться в процесс. Чтобы найти затерянные несметные богатства, припрятанные пиратами, командам придется действовать сообща. </p>",
		place: "Городская местность или территория отеля.",
		features: ""
		}
		},


		fannyStarts: {
		title: "Весёлые старты или летние заезды",
		slider: ['1', '2', '3'] ,
		desc: {
		info: "<p>Одна из самых динамичных и удивительных летних игр – двоюродная сестра зимних стартов.</p>" +
		"<p>Кружащий голову азарт и командный дух смешаются в убойно-эмоциональном коктейле радости и позитивного настроения. </p>",
		dur: "2 - 3 часа",
		amount: "20 – 100 чел.",
		cost: "от ?? на чел."
		},
		text: {
		steps: "<p>Помимо разнообразных эстафет и конкурсов, подразумевающих состязание команд между собой, гостям праздника предстоит собрать свои собственные повозки для финального забега, в ходе которого и будет определен победитель. Каждый сможет проявить креативность, украсив собранное транспортное средство, превратив его в неповторимый гоночный болид. В финале игры всех ждут головокружительные гонки на повозках, где пассажирами и толкательными элементами выступают сами участники праздника.</p>" +
		"<p>Это как раз тот случай, когда «лучше один раз увидеть, чем сто раз услышать». Море драйва, смеха и позитива царит на гоночной площадке во время заезда. В завершении победителей ждут кубки, шампанское и фото на память. Гонки можно устроить на веломобилях, лодках или другом транспорте. </p>",
		place: "Любая поляна, пляж, территория отеля",
		features: ""
		}
		}
	},

		intelligents: {

			intelligent1:{
				title: "Посох зимы2",
				desc: "+ 24 за последний месяц",
				slider: ['image1.jpg', 'image1.jpg'],
				text: "texttexttext"
			},
			intelligent2: {
				title: "InstaQuets2",
				desc: "+ 18 за последний месяц",
				slider: ['image1.jpg', 'image1.jpg'],
				text: "texttexttext"
			},
			intelligent3: {
				title: "Форд боярд2",
				desc: "+ 9 за последний месяц",
				slider: ['image1.jpg', 'image1.jpg'],
				text: "texttexttext"
			}
		}
	}