//script(type="text/javascript").
//	$(function() {
//		var sliderImg = '';
//		if ($(window).width() <= 500) {
//			sliderImg = '-min';
//		}
//		else {
//			sliderImg = '';
//		}
//
//	});
-
	var progs= {
	creatives: {
		baraban: {
			title: "Барабанный тимбилдинг",
			slider: ['01', '02'] ,
			desc: {
			info: "Яркая, веселая и громкая программа, направленная на сплочение коллектива, поднятия командного духа через игру на африканских барабанах и перкуссии. ",
			dur: "25мин. – 1,5 часа",
			amount: "20  – 500 чел.",
			cost: "от 2300 на чел."
			},
			text: {
			steps: "<p>Первый этап – это динамичная разминка команды на выявление чувства ритма.</p> " +
			"<p>Затем участники будут создавать свои мелодии с помощью барабанов и других инструментов. </p>" +
			"<p>Кульминацией станет концерт, подготовленный Вашими сотрудниками. Для создания неповторимых мелодий командам выдадут барабаны, перкуссии и другие инструменты. </p>" +
			"<p>Барабанный тимбилдинг научит членов команды слышать друг друга, а совместная творческая работа объединит коллектив. </p>",
			place: "Уличная площадка, банкетный зал или любое помещение. ",
			features: ""
			}
		},

	dreamcity: {
	title: "Город мечты",
	slider: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15'] ,
	desc: {
	info: "Команды претворяют в жизнь свое видение идеального города или целой страны. Игровая программа тимбилдинга направленная на развитие креативности и взаимодействие между командами. ",
	dur: "2 - 4 часа",
	amount: "20 – 300 чел.",
	cost: "от 3200 на чел."
	},
	text: {
	steps: "<p>Программа состоит из нескольких этапов:   </p> " +
	"<p> - Знакомство " +
	" <p> - Деление на команды</p>" +
	"<p> - Короткий блок упражнений, в ходе которого команды могут заработать условные ресурсы для строительства</p> " +
	"<p> - Вводная часть перед строительством</p>" +
	"<p> - Креативная часть, в ходе которого участники моделируют образ проекта</p>" +
	"<p> - Творческая часть – воплощение идеи в жизнь с помощью материалов</p> " +
	"<p> - Финальное награждение.</p>" +
	"<p>Бизнес-игра нацелена на решение не только творческих, но и коммуникативных задач. В процессе участники ищут способы реализации глобальных проектов, имея ограниченный ресурс. </p>" +
	"<p>Тимбилдинг нацелен на сплочение коллектива, поднятия командного духа, а также на развитие коммуникационных способностей каждого члена команды. </p>",
	place: "Тимбилдинг можно проводить на природе или в просторном помещении.",
	features: ""
	}
	},
	masterscity: {
	title: "Город мастеров",
	slider: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '09', '10'] ,
	desc: {
	info: "",
	dur: "3-4 часа",
	amount: "30  – 200 чел.",
	cost: "от 2 900,00 на чел."
	},
	text: {
	steps: "<p>Мы предлагаем вам построить город из произведений искусства, созданных Вашими руками в стиле «Hand Made». </p> " +
	"<p>Дома из расписных кружек, железная дорога из самодельного мыла, клумбы из марципана и шоколадные дорожные знаки – все элементы не только красивы, но и съедобны. В рамках тимбилдинга пройдут мастер-классы по изготовлению полезных и нужных мелочей, которые потом можно забрать с собой. </p>" +
	"<p>Вы можете выбрать любой творческий матер-класс, а мы позаботимся, чтобы Ваш город стал настоящей жемчужиной.</p>",
	place: "Просторное помещение. ",
	features: ""
	}
	},

	canvas: {
	title: "Корпоративная картина",
	slider: ['01', '02', '03', '04', '05', '06', '07', '08', '09'] ,
	desc: {
	info: "Творческий тимбилдинг, в рамках которого участники вместе создают корпоративную картину из разных элементов, соединяя результаты своих трудов в единое полотно. ",
	dur: "1 - 2 часа",
	amount: "30  – 150 чел.",
	cost: "от 3000 на чел."
	},
	text: {
	steps: "<p>Команда из 5-6 человек получает место на общем полотне рядом с другими командами. </p> " +
	"<p>Главная задача – это создать общую большую картину таким образом, чтобы творчество всех команд лаконично вписывалось в целое. Задания могут быть вариативными, к примеру, команды могут получить один из месяцев для создания перекидного настольного календаря. </p>" +
	"<p>Игра проходит при тесном взаимодействии команд и позволяет раскрыть творческий потенциал каждого участника.</p>" +
	"<p>Картину или календарь можно использовать в качестве украшения офиса. </p>" ,
	place: "Просторное помещение. ",
	features: ""
	}
	},

	kulinar: {
	title: "Кулинарный тимбилдинг",
	slider: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'] ,
	desc: {
	info: "<p>Хит продаж! Увлекательно, полезно и вкусно! Особенно летом, когда в разгаре сезон открытой кухни и барбекю! Сами сделали – сами съели! Шеф повар вам в помощь!</p>",
	dur: " 2– 4 часа",
	amount: " 20  – 150 чел.",
	cost: "от 2500 на чел."
	},
	text: {
	steps: "<p>Увлекательно, полезно и вкусно! Особенно летом, когда в разгаре сезон открытой кухни и барбекю! Сами сделали – сами съели, шеф повар вам в помощь! </p>" +
	"<p>Еда – вот что приносит истинное удовольствие, а еда, приготовленная в компании верных коллег – вдвойне вкусней. К тому же процесс совместного приготовления пищи сближает людей. Кулинарные тимбилдинги – это всегда весело, легко и аппетитно. </p> " +
	"<p>Вы только представьте: солнечный день, запах жареного мяса, овощей, вкусное вино. Всем кулинарным действом заправляет ведущий и по совместительству шеф-повар.</p>" +
	"<p>Руководство компании примерит на себя роль строго, но справедливого жюри. В финале команды попробуют блюда друг друга, а закончится все это большим фуршетом на открытом воздухе. Тематика тимбилдинга может быть разной – вы выбираете любую из кухонь мира и все блюда будут готовиться по четкой рецептуре. </p>" +
	"<p>Сытный и вкусный обед и отличное настроение Вам обеспечено. </p>" ,
	place: "Уличная площадка, помещение, специально оборудованные студии. ",
	features: ""
	}
	},

	airsnakes: {
	title: "Парад воздушных змеев",
	slider: ['01', '02', '03', '04', '05'] ,
	desc: {
	info: "Ветер – одна из четырех стихий, которую пытается обуздать человек. Ветер – герой легенд, сказок, он манит человека своей силой и энергией. С древних времен человек пытался с помощью энергии ветра оторваться от земли и парить в небе наравне с птицами. Парад воздушных змей позволит Вам управлять силой и энергией ветра. ",
	dur: "2– 2,5 часа",
	amount: "20 – 300 чел.",
	cost: "от 2700 на чел."
	},
	text: {
	steps: "<p>Участники делятся на команды - конструкторские бюро, чтобы изготовить неповторимого воздушного змея, чтобы в финале игры представить свое творение на параде.</p> " +
	"<p>Флагманом воздушного пространства станет брендированный 100-метровый змей, который, подобно мудрому полководцу, ведет за собой последователей в небесные просторы. </p>" +
	"<p>Чувство командного единства, яркие эмоции и впечатления захватят участников без остатка. </p>",
	place: "Уличная площадка, берег водоема.",
	features: "Просторное открытое пространство"
	}
	},

	together: {
	title: "Формула «Вместе»",
	slider: ['01', '02', '03'] ,
	desc: {
	info: "Вопрос успешности человека остро стоит на повестке дня: какими качествами должен обладать, что для этого делать и самый важный – какой же рецепт успеха? А если речь идет о большой компании, когда в процессе участвует одновременно большое количество людей.  Тимбилдинг разработан специально для того, чтобы найти рецепт успеха специально для Вашей компании. ",
	dur: "2– 2,5 часа",
	amount: "50  – 1 000 чел.",
	cost: "от 2500 на чел."
	},
	text: {
	steps: "<p>Каков рецепт успеха? Каждый человек задавался этим вопросом, а что делает успешной компанию, когда в процессе участвуют одновременно большое количество людей? </p> " +
	"<p>А мы знаем! Тимбилдинг формула «Вместе» поможет найти Вам этот рецепт. </p>" +
	"<p>По ходу игры команды будут добывать различные ингредиенты, смешав которые, получат формулу успеха для целой компании в виде прекрасной картины. Она может стать отличным украшением Вашего офиса. </p>",
	place: "Уличная площадка, помещение. ",
	features: ""
	}
	}

	},

	intelligents: {

	TVformat: {
	title: "Игры телеформатов",
	slider: ['01', '02'] ,
	desc: {
	info: "",
	dur: "2– 2,5 часа",
	amount: "20 – 400 чел.",
	cost: "от 2800 на чел."
	},
	text: {
	steps: "<p>Помните телешоу начала 2000-х годов?! Наверняка сами когда-то мечтали поучаствовать в «Умники и умницы» </p>" +
	"<p>Лучшие игровые шоу начала 2000-х станут главной темой этого вечера, а Вы и Выши коллеги – главными действующими лицами. Предлагаем вам разорвать привычный шаблон и придумать свою уникальную игру или даже несколько. </p>" +
	"<p>Хотите спортивный формат игры «Что? Где? Когда?» с настоящими хрустальными совами? Легко! А может вам больше по душе «Своя игра» или «Интуиция»? «Устами младенца» Ваши дети с экрана будут вещать об особенностях вашей профессии, а может вспомним «Сто к одному» или «Испорченный телефон»?</p>" +
	"<p>Мы готовы к любому кипишу и даже к голодовке. Любая игра, любой формат – мы работаем только с самыми смелыми и дерзкими идеями. Вперед! </p> ",
	place: "Помещение, закрытый шатер, чаще – рассадка участников за круглыми столами. ",
	features: ""
	}
	},
	questioncost: {
	title: "Цена вопроса",
	slider: ['01', '02', '03', '04', '05', '06', '07', '08', '09'] ,
	desc: {
	info: "",
	dur: "1 - 2 часа",
	amount: "20 – 400 чел.",
	cost: "от 1900 на чел."
	},
	text: {
	steps: "<p>Давно мечтали угадать, что же лежит в черном ящике?! Предлагаем Вам не откладывать мечту, а вместе с коллегами узнать ответ на этот и другие вопросы. «Цена вопроса» - микс игр «Что? Где? Когда?» и «Брейн-ринг» с использованием современных технологий. </p>" +
	"<p>Еще одно достоинство – количество человек не ограничено. Команды с помощью планшета отвечают на вопросы ведущего, а статистика мгновенно появляется на большом экране. Лучшие, разумеется, станут звездами вечера, к тому же, игра отлично подойдет в качестве дополнения к банкету или гала-ужину. </p> ",
	place: "Помещение, закрытый шатер, чаще – рассадка участников за круглыми столами.",
	features: ""
	}
	}
	},

		activity: {

			rope: {
				title: "Веревочный курс",
				slider: ['01', '02', '03'] ,
				desc: {
				info: "Веревочный курс – самая эффективная программа для сплочение коллектива. Игра призвана повысить уровень доверия между сотрудниками, а также помогает новичкам быстрее адаптироваться в коллективе и наладить коммуникативные связи.",
				dur: "3 - 4 часа",
				amount: "15 – 200 чел.",
				cost: "от 2600 на чел."
				},
				text: {
				steps: "<p>Игра проходит с использованием альпинистского снаряжения и при участии профессиональных инструкторов, психологов и альпинистов. Физическая подготовка участников не имеет никакого значения, к игре допускаются даже дети от 8 лет. </p>" +
				"<p>Веревочный курс – это крутое испытание для всей команды, в ходе которого становится ясно, что человек в одиночку может добиться многого, но команда – может горы свернуть.</p>",
				place: "Лесопарковая зона, отлично подойдет сосновый лес, так как необходимы деревья для крепления веревочных станций. ",
				features: ""
				}
			},

			starts: {
				title: "Веселые старты",
				slider: ['01', '02', '03'] ,
				desc: {
				info: "Веревочный курс – самая эффективная программа для сплочение коллектива. Игра призвана повысить уровень доверия между сотрудниками, а также помогает новичкам быстрее адаптироваться в коллективе и наладить коммуникативные связи.",
				dur: "2 - 3часа",
				amount: "20 – 100 чел.",
				cost: "от 2900 на чел."
				},
				text: {
				steps: "<p>Помимо разнообразных эстафет и конкурсов, подразумевающих состязание команд между собой, гостям праздника предстоит собрать собственные повозки для финального забега, в ходе которого и будет определен победитель. Каждый сможет проявить креативность, украсив собранное транспортное средство и превратив его в неповторимый гоночный болид. В финале игры всех ждут головокружительные гонки на повозках, где пассажирами и толкательными элементами выступают сами участники праздника </p>" +
				"<p>Это как раз тот случай, когда «лучше один раз увидеть, чем сто раз услышать». Море драйва, смеха и позитива царит на гоночной площадке во время заезда. В завершении победителей ждут кубки, шампанское и фото на память. Гонки можно устроить на веломобилях, лодках или другом транспорте.</p>",
				place: "Любая площадка, пляж, территория отеля.",
				features: ""
				}
			},

			eco: {
				title: "Эко тимбилдинг",
				slider: ['01', '02', '03', '04', '05', '06'] ,
				desc: {
				info: "Веревочный курс – самая эффективная программа для сплочение коллектива. Игра призвана повысить уровень доверия между сотрудниками, а также помогает новичкам быстрее адаптироваться в коллективе и наладить коммуникативные связи.",
				dur: "2 - 3часа",
				amount: "20 – 100 чел.",
				cost: "рассчитывается индивидуально"
				},
				text: {
				steps: "<p>Эко тимбилдинг – это не только отличный тренинг на командообразование, но и реальная польза для природы. Участники будут высаживать аллею деревьев или клумб, используя GPS навигацию и подсказки по схеме посадки. </p>" +
				"<p>Саженцы, фартуки, перчатки, лейки и лопаты – все это незаменимые помощники при посадке. А в финале мы откроем табличку с логотипом компании, увековечив тем самым такое важное и доброе дело.</p>",
				place: "Подбирается индивидуально.",
				features: ""
				}
			},

			bigrace: {
			title: "Большие гонки",
			slider: ['01', '02', '03', '04', '05', '06', '07', '08', '09'] ,
			desc: {
			info: "",
			dur: "3 – 6 часов",
			amount: "10 – 1 000 чел.",
			cost: "от 3600 на чел."
			},
			text: {
			steps: "<p>Энергия побед – движущая сила этой игры. Испытание для команд действительно сильных духом. Активный тимбилдинг с использованием надувных полос препятствий. Программы S, M, L, L+, XL, XL+ от 6 до 20 этапов. Выбирайте подходящий формат, проверьте свои силы. </p>" +
			"<p>Программа тимбилдинга настолько универсальна, что может быть адаптирована для команд от 10 до 1000 человек. </p>" +
			"<p>Суть гонки – прохождение различных этапов на надувной полосе препятствий на время. Драйв и азарт всем участникам игры обеспечены. </p>",
			place: "Уличная площадка или стадион. ",
			features: ""
			}
			},

			winter: {
				title: "Зимние старты",
				slider: ['01', '02', '03', '04', '05', '06'] ,
				desc: {
				info: "Активная программа, в ходе которой задействован крупный реквизит. Игра основана на противостоянии между командами, развивает ответственность игроков за общий результат, а динамичный ход соревнования поднимет всем настроение. ",
				dur: "2 - 3 часа",
				amount: "15 – 150 чел.",
				cost: "от 2900 на чел."
				},
				text: {
				steps: "<p>Формирование команд происходит с учетом гендерных и возрастных различий участников. На каждом этапе команды соревнуется в различных активностях, зарабатывая баллы: 3 очка за победу, 2 – ничья, 1 балл начисляется за участие, в случае проигрыша.  </p> " +
				"<p>Каждую команду сопровождает инструктор, который следит за ходом игры и ведет подсчет очков. Сначала каждая команда борется за первенство, однако, в финале предусмотрены состязания, в ходе которых участники объединяются ради общей цели.</p>" +
				"<p>Игра направлена как на развитие лидерских качеств и конкуренции, так и на сплочение коллектива. </p>" ,
				place: "Уличная площадка.",
				features: ""
				}
			},

		kz: {
		title: "Короткое замыкание",
		slider: ['01', '02'] ,
		desc: {
		info: "Игра, включающая в себя как физические упражнения, так и задачки на смекалку и логику. Состязания укрепят отношения в коллективе, позволят узнать коллег с другой стороны.  ",
		dur: "2 - 3 часа",
		amount: "10 – 300 чел.",
		cost: "от 2600 на чел."
		},
		text: {
		steps: "<p>Сильнейший шторм прошел в окрестностях маленького городка «N». Дороги завалены снегом, линии электропередач безнадежно свисают лохмотьями с погнутых мачт. В преддверии Нового Года город погрузился во мрак и тьму. Только Ваша команда способна вернуть мир на землю, возродить жизнь из пепла города «N». Командам нужно срочно выдвигаться в район бедствия и наладить подачу электричества для всего города. </p> " +
		"<p>Решая логические задачи, участники игры будут шаг за шагом восстанавливать энергетический комплекс региона. Игра проходит с использованием подсветки и отлично подходит для темного времени суток.</p>" +
		"<p>Каждая команда получает в свое распоряжение планшет, с помощью которого отвечает на вопросы ведущего. Учитывается не только правильность, но и скорость ответа. На большом экране в режиме реального времени все участники видят общую статистику и ход игры.</p>" +
		"<p>Вопросы викторины могут быть ограничены заданной Вами тематикой. К тому же, ведущий задает свои вопросы командам, а также фото- и видео вопросы на экране и традиционный черный ящик.</p>",
		place: "Ровная уличная площадка или большое помещение. ",
		features: ""
		}
		},

		iceAge: {
		title: "Ледниковый период",
		slider: ['01', '02', '03', '04', '05', '06'] ,
		desc: {
		info: "Активная игра на командообразование, где участники отправятся в путешествие по зимним просторам. В случае успешного прохождения всех испытаний команды смогут отыскать клад саблезубой белки – героини одноименного мультфильма. ",
		dur: "2 - 3 часа",
		amount: "10 – 600 чел.",
		cost: "от 2500 на чел."
		},
		text: {
		steps: "<p>Случилось страшное! Планета в опасности! Самые страшные прогнозы ученых стали реальностью.  </p>" +
		"<p>Парниковый эффект и загрязнения окружающей вызвали снежную бурю невероятной силы во всем мире. Планета погрузилась в холодное ледовое молчание. Выжили немногие, звери и птицы на грани исчезновения, а запасы продовольствия скоро кончатся. ></p>" +
		"<p>Ваша команда должна спасти всех и найти хранилище, ресурсы которого помогут всем пережить тяжелые времена. А хранилище охраняет саблезубая белка из «Ледникового периода».</p>",
		place: "Уличная площадка или большое помещение.",
		features: ""
		}
		},

		multirace: {
		title: "Квест «Мультигонка»",
		slider: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'] ,
		desc: {
		info: "Мультигонка – это спортивное соревнование, в котором у команд есть возможность попробовать себя в нескольких видах спорта. Этапы игры настолько разнообразные, что к середине гонки командам становится важен не результат, а сам процесс. ",
		dur: "1,5 - 4 часа",
		amount: "20 – 300 чел.",
		cost: "от 3000 на чел."
		},
		text: {
		steps: "<p>Мультигонка – это спортивное приключенческое соревнование, в котором команды набирают очки, проходя этапы игры на время.</p> " +
		"<p>Игра устроена таким образом, что на одном этапе будут побеждать более активные и физически подготовленные команда, на другом – те, кто проявляет смекалку и хитрость. Однако, даже не подготовленные участники смогут выполнить любое задание.</p>" +
		"<p>Для победы важно участие каждого, поэтому каждый сотрудник получает возможность показать себя, приятно удивив коллег. Участников ждут испытания на волю, дух и физическую выносливость, но богиня победы отдаст свое сердце только самым дружным. </p>",
		place: "Уличная площадка. ",
		features: ""
		}
		},

		treasure: {
		title: "Остров сокровищ",
		slider: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11'] ,
		desc: {
		info: "Хит продаж последних сезонов. Вас ждет захватывающее приключение, пройти которое вы сможете, заручившись ловкостью смекалкой и командным духом. ",
		dur: "2 - 3часа",
		amount: "20 – 500 чел.",
		cost: "от 2500 на чел."
		},
		text: {
		steps: "<p>Отправляйтесь на поиски приключений, и пусть вам дует попутный ветер! Антураж игры максимально приближен к реальности, что позволит всей команде погрузиться в процесс. </p>" +
		"<p>Чтобы найти затерянные несметные богатства, припрятанные пиратами, командам придется действовать сообща.</p> ",
		place: "Городская местность или территория отеля.",
		features: ""
		}
		},

		fordBoyard: {
		title: "Форт Боярд",
		slider: ['01', '02', '03', '04'] ,
		desc: {
		info: "Активная игра по мотивам известной одноименной телепрограммы. Игра включает в себя как задания в антураже оригинального шоу, так и массу состязаний командного взаимодействия.",
		dur: "2 - 4 часа",
		amount: "15 – 200 чел.",
		cost: "от 2700 на чел."
		},
		text: {
		steps: "<p>Сценарий игры развивается по канонам оригинального шоу, в первой части приключения участники добывают подсказки, чтобы отгадать финальное ключевое слово, которое откроет двери в Сокровищницу. Время работает не на участников, поэтому каждую минуту нужно зарабатывать тяжелым трудом, проявляя командное взаимодействие.</p> " +
		"<p>Если вам близок дух авантюризма, а тяга к приключениям у вас в крови, то смело отправляйтесь на поиски Сокровищ в самом сердце Атлантического океана.</p>",
		place: "Городская местность или территория отеля",
		features: ""
		}
		}

		},

		corporative: {
			InstaQuest: {
				title: "Инста квест",
				slider: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'] ,
				desc: {
				info: "Фото-квест – это творческая и юмористическая игра, в которой участники дают ответы на вопросы в виде моментальных снимков (polaroid). В финале игры проводится голосование, а победители  получают альбом с лучшими фото.",
				dur: "1,5 - 2 часа",
				amount: "20 – 120 чел.",
				cost: "от 2700 на чел."
				},
				text: {
				steps: "<p>Коллектив разбивается на команды по 6-8 человек, каждая команда получает фотоаппарат Polaroid, заряженный на 20 кадров. Игра делится на два этапа – творческой и поисковой. Не удивительно, что во время поисковых заданий участники что-то ищут, а в качестве подсказок выступают фотографии из разных фильмов или некие интересные факты.  </p>" +
				"<p>В творческой части команды находит секретное место, где нужно сделать лучшее фото, которое будет участвовать в финальном голосовании. В финале жюри выберет лучший, но все участники могут забрать фотографии домой.</p>" +
				"<p>Гарантировано отличное настроение после игры, памятные фотографии и сплоченная команда. </p>" ,
				place: "Уличная площадка или помещение.",
				features: ""
				}
			},

			kinofest: {
				title: "Корпоративный кинофест ",
				slider: ['01', '02', '03', '04', '05', '06'] ,
				desc: {
				info: "Фото-квест – это творческая и юмористическая игра, в которой участники дают ответы на вопросы в виде моментальных снимков (polaroid). В финале игры проводится голосование, а победители  получают альбом с лучшими фото.",
				dur: "3– 4 часа",
				amount: "20 – 30 чел.",
				cost: "рассчитывается индивидуально"
				},
				text: {
				steps: "<p>Предлагаем Вам попробовать снять настоящее кино!  </p>" +
				"<p>В творческой части команды находит секретное место, где нужно сделать лучшее фото, которое будет участвовать в финальном голосовании. В финале жюри выберет лучший, но все участники могут забрать фотографии домой.</p>" +
				"<p>Помощниками каждой команды будут профессиональные операторы и монтажеры. Вы можете снять художественный фильм с закрученным сюжетом или рекламный ролик одной из услуг Вашей компании.  </p>" +
				"<p>После съёмок материал будет смонтирован и показан во время вечерней программы или передан на носителе (флешка, жёсткий диск – по согласованию).</p>" ,
				place: "Просторное помещение. ",
				features: ""
				}
			},
			reaction: {
				title: "Цепная реакция",
				slider: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '16', '17'] ,
				desc: {
				info: "Команды создают непрерывную цепь из механических элементов - хитроумных устройств, которая сработает без сбоев от первого и до последнего элемента! Последнее устройство в цепи открывает общий финал-сюрприз!",
				dur: "2 - 4 часа (оптимально от 3-х часов)",
				amount: "30 – 200 чел.",
				cost: "от 3200 на чел."
				},
				text: {
				steps: "<p>Творческая, веселая и активная игра «Цепная реакция» направлена не только на формирование эффективной команды, но и на выявление творческих способностей каждого игрока.   </p> " +
				"<p>Сначала команды строят цепочку из различных механизмов, в качестве материала могут быть использованы любые средства (резинка, пружины, лампочки и даже конфеты).</p>" +
				"<p>В финале каждая команда запускает свой механизм, длинна которого зависит только от фантазии игроков.</p>",
				place: "Уличная площадка или помещение.",
				features: "Ровная открытая площадка. Если проводится в помещении, то расчет  4-5кв.м на человека."
				}
			}
		}
	}