-
	var progs= {
	creatives: {
	active: 'active',

	instaquests: {
	active: 'active',
	title: "InstaQuests",
	slider: ['image1.jpg', 'image1.jpg'],
	desc: {
	info: "Фото-квест – это творческая и юмористическая игра, в которой участники дают ответы на вопросы в виде моментальных снимков (polaroid). В финале игры проводится голосование, а победители  получают альбом с лучшими фото. ",
	dur: "1,5 - 2 часа",
	amount: "20 – 120 чел."
	},
	text: {
	steps: "<p>это творческие задания, которые включают в себя активные командные задания и поисковые и фото-задания. На фото могут оказаться кадры из популярных фильмов, иллюстрации к высказыванием или историческим фактам или же картинки, иллюстрирующие корпоративные ценности компании. </p> " +
	"<p>Приятный бонус для участников в том, что все фото мгновенно распечатываются на фотоаппарате Polaroid, которые можно оставить на память.</p>" +
	" <p>В финале командные работы оценивает специальное жюри, проводится голосование за лучшие работы, при этом ведущий делает это в юмористической манере. Самые удачные фото участники квеста комментируют со сцены. </p>" +
	"<p>Победители получают альбом с лучшими фотографиями игры. Квест отлично подходит как один из вариантом тимбилдинга, потому что сочетает в себе, как командные задания, так и индивидуальные, где каждый участник может проявить себя в полной мере, а веселая и беззаботная атмосфера направлена на сплочение коллектива.</p> ",
	place: "игру «Инста Квест» можно проводить практически на любой площадке: от парка или улицы до территории загородного отеля. Программу квеста легко можно адаптировать и под закрытые пространства при условии большой вместимости территории. ",
	features: "для проведения квеста требуется хорошее освещение, поэтому необходим дневной свет или хорошее внутренне освещение. Перед оглашением победителей требуется 30-40 минут, чтобы подготовить фотографии."
	}
	},


	staff: {
	title: "Квест «Цепная реакция»",
	slider: ['image1.jpg', 'image1.jpg'],
	desc: {
	info: "Команды создают непрерывную цепь из механических элементов - хитроумных устройств, которая сработает без сбоев от первого и до последнего элемента! Последнее устройство в цепи открывает общий финал-сюрприз!",
	dur: "2 - 4 часа (оптимально от 3-х часов)",
	amount: "30 – 200 чел."
	},
	text: {
	steps: "<p>Хотите вместе со своей командой почувствовать позитивный эффект домино? Постройте цепь механизмов и запустите цепную реакцию. Программа подходит и физикам и лирикам - проверено!  </p> " +
	"<p>Команды создают непрерывную цепь из механических элементов, которая сработает без сбоев от первого и до последнего элемента! Каждое звено цепи – результат творческой работы отдельной команды. А объединенные в общую цепь звенья – результат творчества всей команды. " +
	" <p>Наглядная визуализация вклада каждого в  общую картину. К тому же – это ВЕСЕЛО! Подробности на видео. </p>" +
	"<p>Устройства могут совершенно разными: классическая механика (качели, трубы, горки, шарики, веревки), жидкости (переливание, кораблики с парусами), упругие элементы (резинки, пружины), электричество (электромагниты, электромоторы, лампочки), химические реакции (таящий лед, кола, ментос). </p> " +
	"<p>Каждая команда строит свою цепочку: одни моделируют автомобиль и горку, другие – трассу, с которой скатывается мяч. В финале запускается цепная реакция, длина цепочки событий зависит только от фантазии команд.</p>",
	place: "на улице или в помещении.  Особенности: ровная открытая площадка. Если проводится в помещении, то расчет  4-5кв.м на человека.",
	features: " "
	}
	},
	fordboyard: {
	title: "Форд боярд",
	desc: "+ 9 за последний месяц",
	slider: ['image1.jpg', 'image1.jpg']
	},
	instaquests: {
	title: "InstaQuests",
	desc: "+ 18 за последний месяц",
	slider: ['image1.jpg', 'image1.jpg']
	},
	fordboyard: {
	title: "Форд боярд",
	desc: "+ 9 за последний месяц",
	slider: ['image1.jpg', 'image1.jpg']
	},
	instaquests: {
	title: "InstaQuests",
	desc: "+ 18 за последний месяц",
	slider: ['image1.jpg', 'image1.jpg']
	},
	fordboyard: {
	title: "Форд боярд",
	desc: "+ 9 за последний месяц",
	slider: ['image1.jpg', 'image1.jpg']
	}
	instaquests: {
	title: "InstaQuests",
	desc: "+ 18 за последний месяц",
	slider: ['image1.jpg', 'image1.jpg']
	},
	fordboyard: {
	title: "Форд боярд",
	desc: "+ 9 за последний месяц",
	slider: ['image1.jpg', 'image1.jpg']
	}
	},

	intelligents: {
	active: 'active',
	intelligent1:{
	title: "Посох зимы2",
	desc: "+ 24 за последний месяц",
	slider: ['image1.jpg', 'image1.jpg']
	},
	intelligent2: {
	title: "InstaQuets2",
	desc: "+ 18 за последний месяц",
	slider: ['image1.jpg', 'image1.jpg']
	},
	intelligent3: {
	title: "Форд боярд2",
	desc: "+ 9 за последний месяц",
	slider: ['image1.jpg', 'image1.jpg']
	}
	}
	}