//@include add-grid(12)
//@include add-gutter(1/3)
//@include add-gutter-style('split')

//@include sgs-change('debug', true)
//.maincontent
	//@include background-grid($color: blue)




// --------------layout-elements-------------------
.maincontent
	position: relative
//====================== NAV

#phone-form_link
	position: fixed
	top: 33px
	font-family: 'roboto regular'
	left: 10px
	z-index: 30
	color: #c7c7c7
	font-size: 24px
	text-decoration: none
	@media (max-width: 800px)
		font-size: 30px
		top: 13px

.nav
	position: fixed
	z-index: 20
	top: 40px
	right: 40px
	width: 80%
	@media (max-width: 800px)
		display: none
		position: fixed
		width: 100%
		background: #FFFFFF
		top: 66px
		left: 0
		right: 0
		padding: 10px 0
		.nav__item
			display: block
			padding: 10px
			text-align: center
.nav__list
	text-align: right
.nav__item
	display: inline-block
.nav__link
	font-family: 'Open Sans ', arial
	color: #c7c7c7
	font-size: 16px
	padding: 0 10px
	transition: 0.5s
	&:hover
		text-decoration: none
		color: #919191
.nav__item_active
	.nav__link
		color: #919191
		opacity: 0.7
		font-weight: bold

.touch-menu
	display: none
	position: fixed
	top: 0px
	right: 0px
	z-index: 10
	width: 100%
	min-height: 64px
	text-align: right
	background: #000
	padding: 10px
	@media (max-width: 800px)
		display: block
.touch-menu__img
	width: 50px
	height: 50px
	padding: 5px
	cursor: pointer
.test-svg
	position: absolute
	z-index: 21
	top: 10px
	right: 10px
	width: 50px
.test-line
	stroke: #ccc
	stroke-width: 6px
	transition: .5s

//  конец nav----------------------------------

.section-img
	min-height: 100vh
	background-size: cover
	background-repeat: no-repeat
	position: relative
	color: #FFFFFF
	font-size: 20px
	font-weight: 300
	line-height: 1.55
	padding-left: 20%
	display: flex
	flex-direction: column
	justify-content: center

.section-img__mask
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom:  0
	z-index:  1
.section__block
	position: relative
	z-index: 3
.section__block__container
	max-width: 750px
	z-index: 3

.section-grey
	padding-top: 75px
	padding-bottom: 45px
	background-color: #f0f0f0

.block-text__title
	margin-bottom: 20px
	font-size: 42px
	//font-weight: bold
	font-family: "Open Sans"
	text-align: left
.block-text__content___p
	margin-bottom: 30px
.block-text__content___a
	color: #ff8562
	&:hover, &:visited
		color: #ff8562
		font-weight: bold
		text-decoration: none
.block-text__list
	margin-bottom: 20px
.no-margin
	margin-bottom: 0
.big-text
	font-size: 30px
	font-family: "Open Sans"
.block-text__list
	padding-left: 30px
.title
	font-size: 42px
	font-family: "Open Sans"
	margin-bottom: 30px
	text-align: center

.section-slider__text
	float: left
	width: 30%
	padding: 20px
.section-slider_block
	float: left
	width: 69%
	max-height: 620px
	overflow: hidden

// -----------layout-elements end

//============== logo
.section-img__logo
	padding-left: 0
	background-image: url('../img/01/1.jpg')
	text-align: center
.section-img__logo___mask
	background: -webkit-gradient( linear, left top, left bottom, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0.5)) )
.block-logo
	padding-top: 150px
	text-align: center
.block-logo__img
	width:  80%
	max-width: 520px
	height: auto
	margin-bottom: 200px
.block-logo__desc
	background: rgba(255, 255, 255, 0.38)
	color: #FFFFFF
	font-size: 32px
	line-height: 1.55
	text-transform: uppercase
	font-family: 'Open Sans'

//==========================about
.section-img__about
	background-image: url('../img/02.jpg')
.section-img__about___mask
	background-image: -webkit-linear-gradient(top, rgba(2,42,89,0.80), rgba(0,0,0,0.30))


//============================= allinclusive
.section-img__allinc
	padding-right: 3%
	background-image: url('../img/03.jpg')
	.block-text__content
		column-count: 2
		column-width: 250px
		column-gap: 60px
		strong
			font-family: 'Open Sans'
			font-size: 22px
	.block-text__list
		list-style-type: none
		padding-left: 0
.section-img__allinc___mask
	background: -webkit-gradient( linear, left top, left bottom, from(rgba(0,0,0,0.6)), to(rgba(0,0,0,0.6)) )


//===================== .section-grey
.section-grey
	color: #000
	.section-grey_block
		width: 90%
		max-width: 1200px
		margin: 0 auto
		.block-text__title
			text-align: center
			margin-bottom: 60px
			font-family: 'Open Sans Light'
		.block-text__content
			//width: 860px
			margin: 0 auto 20px
			text-align: center
			font-size: 18px
			.block-text__content___p
				margin-bottom: 0
.block-columns
	text-align: center
.block-columns__item
	float: left
	width: 33%
	box-sizing: border-box
	padding: 0 20px
	overflow: hidden
.block-columns__img
	//width: 100%
	height: 360px

//========================== halls
.section-img__halls
	background-image: url('../img/04.jpg')
.section-img__halls___mask
	background-image: -webkit-linear-gradient(top, rgba(2,42,89,0.80), rgba(0,0,0,0.6))



//============================Hall meetroom1
.section-img__halls-meetroom1
	background-image: url('../img/05.jpg')
.section-img__halls-meetroom1___mask
	background: -webkit-gradient( linear, left top, left bottom, from(rgba(0,0,0,0.8)), to(rgba(0,0,0,0.5)) )

//============================Hall meetroom1
.section-img__halls-meetroom2
	background-image: url('../img/06.jpg')
.section-img__halls-meetroom2___mask
	background: -webkit-gradient( linear, left top, left bottom, from(rgba(0,0,0,0.8)), to(rgba(0,0,0,0.5)) )

//============================Halls meetrooms on 2nd floor
.section-grey_block-meetrooms2f
	.block-text__content
		margin-left: 300px
		text-align: left

//==================== Big halls
.section-img__halls-big
	background-image: url('../img/tild3333-6537-4130-b632-343830643434__noroot.jpg')
.section-img__halls-big___mask
	background: -webkit-gradient( linear, left top, left bottom, from(rgba(0,0,0,0.8)), to(rgba(0,0,0,0.5)) )

.block-halls__plan___img_wrap
	float: left
	width: 33%
	text-align: center
	margin-left: -50px
	&:first-child
		margin-left: 0
	.block-halls__plan___img
		width: 330px

//===================	Small halls
.section-img__halls-small
	background-image: url('../img/tild3834-3535-4464-a236-646261306538__lesfoto31.jpg')
.section-img__mask.section-img__halls-small___mask
	background: -webkit-gradient( linear, left top, left bottom, from(rgba(0,0,0,0.8)), to(rgba(0,0,0,0.5)) )

//===================	Winter halls
.section-img__halls-winter
	background-image: url('../img/tild3838-3837-4262-b937-313433613166__wintergarden2.jpg')
.section-img__halls-winter___mask
	background: -webkit-gradient( linear, left top, left bottom, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,0.3)) )

//===================	Services
.section-img__service
	background-image: url('../img/tild3639-3230-4666-b237-323662626636__001.jpg')
.section-img__service___mask
	background: -webkit-linear-gradient(top, rgba(13,13,13,0.80), rgba(0,0,0,0.30))

//============================ Banquet hall
.section-img__halls-banquet
	background-image: url('../img/tild3561-3239-4637-b632-336235343631__bg1.jpg')
.section-img__halls-banquet___mask
	background: -webkit-gradient( linear, left top, left bottom, from(rgba(0,0,0,0.6)), to(rgba(0,0,0,0.5)) )

	//=================== Belveder hall
.section-img__belveder
	background-image: url('../img/tild3430-3433-4932-b837-636638363637__belvedere1.jpg')
.section-img__belveder___mask
	background: -webkit-linear-gradient(top, rgba(13,13,13,0.80), rgba(0,0,0,0.30))

//=================== Podium hall
.section-img__podium
	background-image: url('../img/tild3730-6330-4366-a530-636537613737__noroot.jpeg')
.section-img__podium___mask
	background: -webkit-linear-gradient(top, rgba(13,13,13,0.80), rgba(0,0,0,0.30))

//=================== Gallery hall
.section-img__halls-gallery
	background-image: url('../img/lesfoto17.jpg')
	.block-halls__plan___img_wrap
		width: 49%
		margin-left: -130px
		&:first-child
			margin-left: 0
		.block-halls__plan___img
			width: 500px
.section-img__halls-gallery___mask
	background: -webkit-gradient( linear, left top, left bottom, from(rgba(0,0,0,0.8)), to(rgba(0,0,0,0.5)) )

//===================== Coffee-breaks
.section-img__halls-coffee
	background-image: url('../img/tild3532-6565-4961-a139-353065393033__124240.jpg')
	.block-halls__plan___title_coffee
		font-size: 100px
		font-family: "Open Sans"
		.font50
			font-size: 50px
	.block-halls__plan___desc
		font-size: 16px
.section-img__halls-coffee___mask
	background: -webkit-gradient( linear, left top, left bottom, from(rgba(0,0,0,0.6)), to(rgba(0,0,0,0.6)) )

//=================== Barbecui zone
.section-img__barbecui
	background-image: url('../img/tild6231-3938-4136-a239-373735623938__1920x1200_586003_wwwartfileru.jpg')
.section-img__barbecui___mask
	background: -webkit-linear-gradient(top, rgba(13, 13, 13, 0.8), rgba(0, 0, 0, 0.298039))
.section-barbecui_photos
	padding: 30px 0 50px
	width: 90%
	max-width: 1200px
	margin: 0 auto

//=================== Football zone
.section-img__football
	background-image: url('../img/tild3362-6531-4035-b530-366236653533__golf.jpg')
	padding: 70px 12%
.section-img__football___mask
	background: -webkit-linear-gradient(top, rgba(13, 13, 13, 0.8), rgba(0, 0, 0, 0.298039))

//=================== SPA zone
.section-img__spa
	background-image: url('../img/tild3637-3564-4832-a363-623264663136__lesfoto75.jpg')
	.block-text__content___p
		color: #fff
	.block-text__list__item
		color: #fff
.section-img__spa___mask
	background: -webkit-linear-gradient(top, rgba(13,13,13,0.80), rgba(0,0,0,0.30))

//=================== Open pool zone
.section-img__open-pool
	background-image: url('../img/openpool.jpg')
	.section__block__container
		max-width: 450px
.section-img__open-pool___mask
	background: -webkit-linear-gradient(top, rgba(13, 13, 13, 0.8), rgba(0, 0, 0, 0.298039))

//=================== room-standart
.section-img__room
	padding-left: 200px
.section-img__room-standart
	background-image: url('../img/tild3333-3539-4630-b963-366336373439__noroot.jpg')
.section-img__room-standart___mask
	background: -webkit-linear-gradient(top, rgba(13,13,13,0.70), rgba(0,0,0,0.30))

//===================  Classic Suite
.section-img__room-classic
	background-image: url('../img/tild3637-6266-4063-a465-393531663934__3.jpg')
.section-img__room-classic___mask
	background: -webkit-linear-gradient(top, rgba(13,13,13,0.70), rgba(0,0,0,0.30))

//===================  Classic Suite
.section-img__room-classicplus
	background-image: url('../img/tild6263-3063-4339-a464-626162306463__5555.jpg')
.section-img__room-classicplus___mask
	background: -webkit-linear-gradient(top, rgba(13,13,13,0.70), rgba(0,0,0,0.30))

//===================  Classic Suite
.section-img__room-panorama
	background-image: url('../img/tild3663-6664-4263-a537-356434303866__6.jpg')
.section-img__room-panorama___mask
	background: -webkit-linear-gradient(top, rgba(13,13,13,0.70), rgba(0,0,0,0.30))

//===================  Classic Suite
.section-img__room-villa
	background-image: url('../img/tild6132-3734-4339-b866-373664383761__8.jpg')
.section-img__room-villa___mask
	background: -webkit-linear-gradient(top, rgba(13,13,13,0.70), rgba(0,0,0,0.30))


//===================  Classic Suite
.section-img__contacts
	background-image: url('../img/tild3562-3363-4766-a530-646430633066__photo1461773518188b3e86f98242f.jpg')
	min-height: 550px
.section-img__contacts___mask
	background: -webkit-linear-gradient(top, rgba(13,13,13,0.70), rgba(0,0,0,0.30))


//=====================FORMS
.section-form
	//min-height: 300px
	padding-top: 60px
	background-color: #ededed
	text-align: center
.section-form-title
	font-size: 32px
	color: #6c6c6c
	width: 70%
	margin: 0 auto
	font-family: 'Open Sans'

.form-spectarif
	padding: 30px 0 60px
.form-spectarif__inp
	height: 60px
	font-size: 20px
	line-height: 1.33
	color: #919191
	padding: 0 20px
	border: 1px solid #ccc8c8
	background-color: #FFFFFF
	width: 360px
	margin-right: 20px
	margin-bottom: 10px
.form-spectarif__btn
	font-family: 'Roboto',sans-serif
	text-align: center
	height: 60px
	border: 0 none
	font-size: 16px
	padding-left: 60px
	padding-right: 60px
	-webkit-appearance: none
	font-weight: 700
	white-space: nowrap
	color: #ffffff
	background-color: #8ebe2c

	//============phone-form

#overlay
	z-index: 1003
	position: fixed
	background-color: #000
	opacity: 0.8
	-moz-opacity: 0.8
	filter: alpha(opacity=80)
	width: 100%
	height: 100%
	top: 0
	left: 0
	cursor: pointer
	display: none
#phone-form_close
	width: 21px
	height: 21px
	position: absolute
	top: 10px
	right: 10px
	cursor: pointer
	display: block

.phone-form_wrap
	width: 300px
	height: 240px
	width: 560px
	box-sizing: border-box
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	padding: 40px 45px 47px
	background: #fff
	border-radius: 5px
	border: 3px #000 solid
	background: #fff
	position: fixed
	top: 45%
	left: 50%
	margin-top: -120px
	margin-left: -280px
	display: none
	opacity: 0
	z-index: 1005
	padding: 20px 10px
	font-family: 'Roboto', sans-serif
.phone-form_title
	color: #000
	margin-bottom: 11px
	line-height: 1.23
	font-size: 31px
	text-align: center
.phone-form_text
	font-size: 16px
	line-height: 1.55
	margin-bottom: 24px
	color: #333
	text-align: center

#phone-form
	padding: 10px 20px
.phone-form_inp
	color: #000000
	border: 0px solid #000000
	background-color: #e6e6e6
	border-radius: 5px
	-moz-border-radius: 5px
	-webkit-border-radius: 5px
	outline: none
	height: 58px
	margin: 0 20px 0 0
	padding: 0 20px
	font-size: 16px
	line-height: 1.33
	width: 50%
	border: 0 none
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
.phone-form_btn
	color: #ffffff
	border: 1px solid #5a96b8
	background-color: #5a96b8
	border-radius: 5px
	-moz-border-radius: 5px
	-webkit-border-radius: 5px
	padding: 0 30px
	-webkit-transition: all ease-in-out 0.2s
	-moz-transition: all ease-in-out 0.2s
	-o-transition: all ease-in-out 0.2s
	transition: all ease-in-out 0.2s
	height: 58px
	text-align: center
	border: 0 none
	font-size: 16px
	-webkit-appearance: none
	font-weight: 700
	white-space: nowrap
	cursor: pointer
	margin: 0
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	outline: none

.phone-form_btn:hover
	background-color: #42708a

.phone-form_succes
	font-size: 22px
	text-align: center
	color: #2a71b3
	padding-top: 30px
label.error
	color: red
	position: absolute
	bottom: 20px
	left: 36px
	font-weight: bold

.form-30min_wrap
	@extend .phone-form_wrap
	width: 40%
	min-width: 290px
	height: auto
	border-radius: 0
	padding: 0
	margin: 0
	transform: translateX(-50%)
	border: 0
#form-30min_close
	@extend #phone-form_close
	font-weight: bold
	font-size: 20px
#form-30min_overlay
	@extend #overlay
.form-30min_title
	text-align: center
	font-size: 33px
	font-family: 'Roboto light'
	padding: 7%
	background: -webkit-linear-gradient(top, rgba(13,13,13,0.80), rgba(0,0,0,0.30)), url("../img/form30_bg.jpg") no-repeat
	background-size: cover
	color: #fff

#form-30min
	padding: 10%
.form-30min_inp, .form-30min_btn
	display: block
	width: 100%
	margin-bottom: 20px
	padding: 14px 16px
	border-radius: 7px
.form-30min_inp
	border: 1px solid #c9c9c9
	color: #000
	text-align: left
	font-size: 20px
	&:focus
		border-radius: 7px
		border: 2px solid #c9c9c9
.form-30min_btn
	font-weight: bold
	font-size: 16px
	color: #fff
	background: #5a96b8
	text-align: center
	border: 0
	transition: 0.4s
	&:hover
		background: #326380
