.footer_main
	padding-top: 40px
	background: $c-or
	overflow-x: hidden
	&__wrap
		display: flex
		flex-flow: column wrap
		justify-content: center
	&__nav
		flex: 1
		display: flex
		flex-flow: row wrap
		justify-content: space-between
		align-items: center
		+laptop
			margin-bottom: $m-item
	&__contacts
		font-size: $f-m
		display: flex
		flex-flow: row wrap
		justify-content: center
		align-items: center
		text-align: center
		margin-bottom: $m-p
	&__address
		margin-right: $m-section
		margin-bottom: $m-p
		display: inline-block
		+txt-icon
		&:after
			background-image: url('../img/sprite/location.svg')
	&__email
		margin-right: $m-section
		margin-bottom: $m-p
		display: inline-block
		+txt-icon
		&:after
			background-image: url('../img/sprite/close-envelope.svg')
	&__phone
		margin-bottom: $m-p
		display: inline-block
		+txt-icon
		&:after
			background-image: url('../img/sprite/old-handphone.svg')
			height: 25px
			+phone
	&__copyright
		font-size: $f-m
		text-align: center
		margin-bottom: 50px
	.logo__svg
		fill: #000
		max-height: 35px
		transition: $transition
		&:hover
			fill:  $c-grey3
.logo.footer_main__logo
	flex: 1
	text-align: center
	+phone
		width: 100%
		max-width: 100%

.nav_footer
	flex: 3
.socials_footer
	justify-content: center
	+phone
		width: 100%
.socials__item_footer
	margin-right: 10px
	&:last-child
		margin-right: 0

