
.socials
	display: flex
	flex-direction: row
	padding: 18px
	&_main
		justify-content: flex-start
		background: $c-or
		+tablet
			padding: 12px 10px 10px

	&__wrap
		+bigline
	&__link
		border-radius: 50%
		display: block
		&:hover
	&__pic
		width: 50px
		height: 50px
		+tablet
			width: 30px
			height: 30px
		&_main
			fill: #fff
			transition: $transition
			&:hover
				fill:  $c-grey3
		&_footer
			fill: #000
			width: 30px
			height: 30px
			transition: $transition
			&:hover
				fill: $c-grey3
	&__item_main
		padding-right: 20px

