html
	font-size: 16px
body
	margin: 0
	font-family: 'open_sanslight'
	min-width: 320px
	overflow-x: hidden
div, input, button
	box-sizing: border-box
p, h1, h2, ul, li
	padding: 0
	margin: 0
a
	text-decoration: none
a:-webkit-any-link
	text-decoration: none

.hidden
	display: none