-
	var abouts = [
		{
			title : "Кто мы?",
			text : "Мы те, кто знает все о тимбилдингах! Как организовать, провести, подобрать площадку, как сделать так, чтобы даже самые капризные Ваши гости не заскучали. У нас своя система, и именно поэтому мы лидеры на рынке, готовы с легкостью реализовать Ваши смелые идеи!"
		},
		{
			title : "Наша история",
			text : "Отсчет истории мы ведем еще со Средних веков, потому что именно тогда стали появляться первые прототипы того, что сегодня мы называем тимбилдинг. А если серьезно – мы 12 лет на рынке, начинали, разумеется, на коленках, тогда и слов таких, как «стартап» никто не знал, а сейчас у нас большая команда, готовая провести любое Ваше мероприятие в любой точке мира."
		},
		{
			title : "Кто у нас работает",
			text : "Лучшие, умные, эрудированные, грамотные, вежливые, красивые, невероятно харизматичные сотрудники."
		},
		{
			title : "Чем занимаемся",
			text : "Боюсь, нам не удалось сохранить интригу. Мы занимаемся тимбилдингами. Или тимбилдингами? А может тимбилдингами? Да! Мы занимаемся тимбилдингами! Клиенты, один раз заказавшие у нас программу, приходят снова. Мы как баунти – подарим Вам и Вашим сотрудником райское наслаждение и удовольствие от тимбилдинга. Любой формат, любая площадка, словом любое Ваше ТЗ выполним, оставив после себя невыносимое желание устраивать корпоративные игрища каждый день."
		}

	]

section.section.section_about
	.container
		.about
			h1.section_about__title О компании
			each about in abouts
				.about__item
					.about__title
						h3= about.title
					.about__text= about.text

