extends ../layout

block variables
	-var title ='Магазин отдыха | Тимбилдинг'
	-var yaCount ='Счетчик_Яндекс_Метрики'
	-var phone = '+7 (111) 111-11-11'
	-var phoneLink = '+711111111'
	-var pageName = 'main'

block title
	title #{title} || Главная

block content
	.wrapper
		.maincontent

			include ../sections/header

			include ./index/main

			include ./index/types
			include ./index/top-season
			include ./index/adv
			include ./index/reviews
			include ./index/form-main

			#map



		include ../sections/footer
		script(async defer src="//maps.googleapis.com/maps/api/js?key=AIzaSyDZ4H8srItPhvk_P5EubMv1-NmPYQ1d5VI	&callback=initMap")