extends ../layout

block variables
	-var title ='Название сайта'
	-var yaCount ='Счетчик_Яндекс_Метрики'

block title
	title #{title} || Главная

block content
	include ../sections/header

	include ../sections/faq

	include ../sections/footer