extends ../layout

block variables
	-var title ='Park Яхонты Таруса'
	-var yaCount ='43261899'

block title
	title #{title} || Корпоративная презентация

block content
	section.section-img.section-img__logo#main
		.block-logo.section__block
			img.block-logo__img(src='assets/img/logo.png')
			.block-logo__desc раздел для корпоративных клиентов

	section.section-img.section-img__about
		.section__block__container
			+block-text('Cronwell Park Яхонты Таруса ', [
			"«Cronwell Park Яхонты Таруса» находится на территории Тарусского заповедника, в экологически чистом районе Калужской области и Подмосковья. Комфортные условия размещения, четырехразовое питание по системе «шведский стол», высокий уровень сервиса, обширный выбор дополнительных услуг и вариантов проведения досуга и широкие конференц возможности и банкетные площадки, включая площадки на открытом воздухе, делают гостиницу «Cronwell Park Яхонты Таруса» идеальным местом для проведения деловых и торжественных мероприятий.",
			"Находясь в 120 км от Москвы, на границе Московской и Калужской областей, отель имеет отличную транспортную доступность и несколько вариантов выезда из Москвы по Киевскому, Варшавскому, Симферопольскому и Калужскому скоростным шоссе."])

	section.section-grey#halls
		.section-grey_block.container
			+block-text('Конференц возможности',
			["К Вашим услугам 4 конференц зала, площадью от 69 кв.м до 1351кв.м., вместимостью до 1200 человек и 5 переговорных комнат площадью от 29 кв.м до 40 кв.м., вместимостью до 30 человек.",  "Конференц-залы отеля оснащены всем необходимым презентационным оборудованием и идеально подходят для проведения деловых встреч и конференций."])
			.block-columns.clearfix.popup-container_img
				+block-columns__item('/2/1.jpg')
				+block-columns__item('/2/2.jpg')
				+block-columns__item('/2/3.jpg')

	section.section-img.section-img__halls-tarusa
		.block-halls.section__block.section__block__container
			.block-text
				.block-text__title Зал «Таруса»
				.block-text__content
					p.block-text__content___p Самый большой конференц-зал. Панорамные окна зала с открывающимися видами на хвойный лес, наполняют зал дневным светом и дарят ощущение простора.
					p.block-text__content___p Зал «Таруса» идеально подходит для проведения крупных мероприятий, форумов, конференций, торжеств, тимбилдингов и концертных выступлений.
					p.block-text__content___p.big-text.no-margin Площадь 1351 кв.м.
					p.block-text__content___p.big-text.no-margin Вместимость до 1200 человек.

	section.section-img.section-img__halls-transformer
		.block-halls.section__block.section__block__container
			.block-text
				.block-text__title Зал «Трансформер»
				.block-text__content
					p.block-text__content___p Просторный зал с дневным светом «Трансформер» рассчитан на проведение конференций, деловых совещаний, круглых столов и тренингов.
					p.block-text__content___p При необходимости зал может быть разделен перегородкой на два отдельных зала площадью 160 кв.м и 126 кв.м.
					p.block-text__content___p Префанкшн зона для кофе-паузы зала «Трансформер» имеет открытую веранду с видом на смешанный лес заповедника.
					p.block-text__content___p.big-text.no-margin Площадь 286 кв.м.
					p.block-text__content___p.big-text.no-margin Вместимость до 250 человек

	section.section-img.section-img__halls-meeting
		.block-halls.section__block.section__block__container
			.block-text
				.block-text__title Зал для совещаний
				.block-text__content
					p.block-text__content___p Комфортный зал для совещаний расположен в здании ресторанного комплекса отеля.
					p.block-text__content___p Дневной свет и возможность установки всего необходимого презентационного оборудования позволяет проводить в зале конференции, тренинги и совещания.
					p.block-text__content___p.big-text.no-margin Площадь 69 кв.м.
					p.block-text__content___p.big-text.no-margin Вместимость до 50 человек.

	section.section-img.section-img__halls-speak
		.block-halls.section__block.section__block__container
			.block-text
				.block-text__title Переговорные комнаты
				.block-text__content
					p.block-text__content___p 5 переговорных комнат отеля - отличный выбор для проведения небольших совещаний и переговоров за круглым столом.
					p.block-text__content___p.big-text.no-margin Площадь от 29 до 40 кв.м.
					p.block-text__content___p.big-text.no-margin Вместимость от 15 до 30 человек.

	section.section-img.section-img__halls-mozayka
		.block-halls.section__block.section__block__container
			.block-text
				.block-text__title Зал «Мозаика»
				.block-text__content
					//p.block-text__content___p 5 переговорных комнат отеля - отличный выбор для проведения небольших совещаний и переговоров за круглым столом.
					p.block-text__content___p.big-text.no-margin Площадь 360 кв.м.
					p.block-text__content___p.big-text.no-margin Вместимость до 300 человек.

	//Форма - получить специальные тарифы
	include  ../sections/form-spectarif.pug

	section.section-grey#restourans
		.section-grey_block.container
			+block-text('Рестораны и бары',
			['Питание гостей в отеле «Cronwell Park Яхонты Таруса» осуществляется в ресторане шведской линии, где каждый может выбрать блюда по душе.  Большое разнообразие блюд и напитков удовлетворят запросы даже самых взыскательных гурманов. '])
			.block-columns.clearfix.popup-container_img
				+block-columns__item('/8/1.jpg')
				+block-columns__item('/8/2.jpg')
				+block-columns__item('/8/3.jpg')

	section.section-img.section-img__restouran-shved
		.section__block.section__block__container
			.block-text
				.block-text__title Ресторан «шведской линии»
				.block-text__content
					p.block-text__content___p В стоимость проживания включено четырехразовое питание по системе «шведский стол».
					p.block-text__content___p Ежедневно в меню более 100 наименований блюд: салаты и закуски, ароматные супы и горячие блюда, а также десерты собственного приготовления и свежие фрукты.
					p.block-text__content___p В меню «шведского стола» представлены блюда русской и европейской кухни.

	section.section-img.section-img__panorama
		.section__block.section__block__container
			.block-text
				.block-text__title Панорамный ресторан
				.block-text__content
					p.block-text__content___p Классические и авторские блюда от шеф-повара, прекрасный сервис и восхитительный вид на долину реки – отличительные особенности нашего ресторана.
					p.block-text__content___p В интерьере ресторана использована натуральная древесина, что создает ощущение уюта и тепла. Летом открыта терраса, на которой вдвойне приятнее наслаждаться блюдами и природой.

	section.section-img.section-img__disco
		.section__block.section__block__container
			.block-text
				.block-text__title Диско-бар «Стоп-кадр»
				.block-text__content
					p.block-text__content___p Бар выполнен в ретро стиле. Уютная атмосфера, европейское меню и широкий ассортимент напитков, шоу-программы с участием приглашенных артистов и зажигательные дискотеки – Ваш вечер обещает быть запоминающимся!
					p.block-text__content___p  В диско-баре всегда можно отметить небольшое значимое событие или провести корпоративную вечеринку.

	section.section-img.section-img__karaoke
		.section__block.section__block__container
			.block-text
				.block-text__title Караоке-бар
				.block-text__content
					p.block-text__content___p Караоке-бар находится на первом этаже развлекательного центра.
					p.block-text__content___p Интерьер бара выполнен в теплых тонах, атмосфера располагает к неторопливой и приятной беседе за чашкой ароматного кофе или чая.

	section.section-img.section-img__coffee
		.section__block.section__block__container
			.block-text
				.block-text__title Кофейня «Coffee Book»
				.block-text__content
					p.block-text__content___p Рядом с ресепшн расположена уютная кофейня «CoffeeBook», оформленная в классическом стиле.
					p.block-text__content___p К услугам гостей широкий выбор ароматных горячих напитков и десертов, вкуснейших коктейлей и легких закусок.
					p.block-text__content___p Летом работает открытая терраса.

	section.section-img.section-img__bamboo
		.section__block.section__block__container
			.block-text
				.block-text__title Аквабар «Бамбук»
				.block-text__content
					p.block-text__content___p В аквабаре представлен широкий ассортимент напитков: фреши, горячие напитки, алкогольные и безалкогольные напитки.
					p.block-text__content___p Также, в наличии, закуски к пиву. Возле бара находится зона отдыха, де гости смогут выпить чай, кофе или другой напиток.

	//Форма - получить специальные тарифы
	include  ../sections/form-spectarif.pug

	section.section-img.section-img__entertainment#entertainment
		.block-text.section__block.section__block__container
			.block-text__title Развлечения и спорт
			.block-text__content
				p.block-text__content___p В отеле «Cronwell Park Яхонты Таруса» созданы все условия для проведения досуга.
				p.block-text__content___p.no-margin К услугам гостей:
				ul.block-text__list.no-style
					li.block-text__list__item - прогулки на лошадях;
					li.block-text__list__item - рыбалка;
					li.block-text__list__item - прокат спортинвентаря;
					li.block-text__list__item - пейнтбол;
					li.block-text__list__item - беседки для барбекю;
					li.block-text__list__item - эко-тропа;
					li.block-text__list__item - полеты на вертолете;
					li.block-text__list__item - бильярд;
					li.block-text__list__item - караоке;
					li.block-text__list__item - анимационные программы;
					li.block-text__list__item - боулинг.

	section.section-img.section-img__wellness#spa
		.section__block.section__block__container
			.block-text
				.block-text__title Wellness-центр
				.block-text__content
					p.block-text__content___p Просторный центр, на территории которого расположено два бассейна, фитнес-центр, финская сауна, SPA-зона и аквацентр.
					p.block-text__content___p Гости отеля смогут отдохнуть и снять напряжение после насыщенного дня.

	//Форма - получить специальные тарифы
	include  ../sections/form-spectarif.pug

	section.section-grey.section-grey-rooms#rooms
		.section-grey_block.container
			+block-text('Номерной фонд', ['Комфортабельные номера, развитая инфраструктура, круглосуточное обслуживание номеров – все это сделает Ваш отдых максимально приятным. '])
			.block-columns.clearfix.popup-container_img
				+block-columns__item("/17/1.jpg")
				+block-columns__item("/17/2.jpg")
				+block-columns__item("/17/3.jpg")

	section.section-img.section-img__standart
		.section__block__container
			.block-text
				.block-text__title Стандарт 15 кв.м.
				p.block-text__content___p.no-margin В номере:
					ul.block-text__list.no-style
						li.block-text__list__item - две раздельные кровати, две прикроватные тумбочки;
						li.block-text__list__item - два прикроватных светильника, шкаф-купе;
						li.block-text__list__item - журнальный столик, стол под ТВ;
						li.block-text__list__item - телевизор, кондиционер, мини-бар;
						li.block-text__list__item - телефон, Wi-Fi;
						li.block-text__list__item - зеркало, пуфик;
						li.block-text__list__item - душевая кабина, банные принадлежности, фен;
						li.block-text__list__item - балкон.

	section.section-img.section-img__standart2
		.section__block__container
			.block-text
				.block-text__title Стандарт+ 15-18 кв.м.
				p.block-text__content___p.no-margin В номере:
				ul.block-text__list.no-style
					li.block-text__list__item - две раздельные кровати, кресло-кровать;
					li.block-text__list__item - две прикроватные тумбочки, два прикроватных светильника;
					li.block-text__list__item - шкаф-купе, журнальный столик, стол под ТВ;
					li.block-text__list__item - телевизор, кондиционер, мини-бар;
					li.block-text__list__item - телефон, Wi-Fi;
					li.block-text__list__item - зеркало, пуфик;
					li.block-text__list__item - душевая кабина, банные принадлежности, фен;
					li.block-text__list__item - балкон.

	section.section-img.section-img__super
		.section__block__container
			.block-text
				.block-text__title Супериор 21-27 кв.м.
				p.block-text__content___p.no-margin В номере:
				ul.block-text__list.no-style
					li.block-text__list__item - две раздельные кровати, две прикроватные тумбочки;
					li.block-text__list__item - два прикроватных светильника, шкаф-купе;
					li.block-text__list__item - кресло (раскладывается в дополнительное спальное место);
					li.block-text__list__item - диван (раскладывается в дополнительное спальное место);
					li.block-text__list__item - рабочий стол, журнальный столик, тумба под ТВ;
					li.block-text__list__item - телевизор, кондиционер, мини-бар;
					li.block-text__list__item - телефон, Wi-Fi;
					li.block-text__list__item - зеркало, пуфик;
					li.block-text__list__item - душевая кабина, банные принадлежности, фен;
					li.block-text__list__item - балкон.

	section.section-img.section-img__apartment
		.section__block__container
			.block-text
				.block-text__title Апартаменты трехкомнатные 80 кв.м.
				p.block-text__content___p В первой спальне: две раздельные кровати, две прикроватные тумбочки, два прикроватных светильника, телевизор, телефон, Wi-Fi.
				p.block-text__content___p Во второй спальне: две раздельные кровати, две прикроватные тумбочки, два прикроватных светильника, стеллаж - тумба под ТВ, телевизор, телефон, Wi-Fi.
				p.block-text__content___p В гостиной с зоной кухни: кухонная мебель, угловой диван, электрическая плита, мини-бар, чайник, набор посуды, обеденный стол на 4 персоны
				ul.block-text__list.no-style
					li.block-text__list__item - зеркало, пуфик;
					li.block-text__list__item - два прикроватных светильника, шкаф-купе;
					li.block-text__list__item - душевая кабина, банные принадлежности, фен;
					li.block-text__list__item - балкон.

	section.section-img.section-img__adel
		.section__block__container
			.block-text
				.block-text__title Люкс Адель 35 кв.м
				p.block-text__content___p В номере: двуспальная кровать, универсальная тумба-консоль под ТВ, туалетный столик, диван угловой-раскладной, камод, журнальный столик, прикроватные светильники, торшер, телевизор, кондиционер, чайный набор, мини-бар, телефон, Wi-Fi.
				p.block-text__content___p В коридоре: шкаф-купе.
				p.block-text__content___p В ванной комнате: ванна, раковина, банные принадлежности, халаты и тапочки, фен.

	section.section-img.section-img__cottage
		.section__block__container
			.block-text
				.block-text__title Коттедж с сауной 135 кв.м.
				p.block-text__content___p Площадь террасы 30 кв.
				p.block-text__content___p В спальне: одна двуспальная кровать, две прикроватные тумбочки, два прикроватных светильника, шкаф-купе, 2 стула, журнальный столик, телевизор, телефон, камин.
				p.block-text__content___p В гостиной: кухонная мебель, холодильник, микроволновая печь, диван раскладной, чайник, набор посуды, обеденный стол + 6 стульев, мягкая мебель + журнальный стол, камин, телевизор, телефон.
				p.block-text__content___p В сауне: 2 душевые кабины, бассейн 2х2, парная на 4 чел., ушат с холодной водой.
				p.block-text__content___p В санузлах (2): душевая кабина, фен, полотенца махровые, халаты, тапочки, банные принадлежности.


	//Форма - получить специальные тарифы
	include  ../sections/form-spectarif.pug

	section.section-img.section-img__contacts#contacts
		.section-img__contacts___mask.section-img__mask
		.section__block__container
			.block-text
				.block-text__content
					p.block-text__content___p КОНТАКТЫ <br>  +7 (499) 653-80-11 корпоративный отдел
					p.block-text__content___p  РЕЖИМ РАБОТЫ <br> c 9.00 до 21.00 <br> 	в субботу и воскресенье c 11.00 до 20.00
					.block-text__content___p
						a.block-text__content___a(href="http://yahontytarusa.ru/", target="_blank") http://yahontytarusa.ru/
					p.block-text__content___p  АДРЕС <br>Калужская обл., Жуковский район, д. Грибовка