extends ../layout

block variables
	-var title ='Отель «Тропикана»'
	-var yaCount ='1'

block title
	title #{title} || Корпоративная презентация

block content
	section.section-img.section-img__logo#main
		.block-logo.section__block
			img.block-logo__img(src='assets/img/logo.png')
			.block-logo__desc раздел для корпоративных клиентов

	section.section-img.section-img__about
		.section__block__container
			+block-text('Тропикана', [
			"Загородный отель «Тропикана» находится в 20 км от Москвы. ",
			"Отель расположен в экологически чистой зоне и отлично походит как для отдыха, так и для организации любого делового или корпоративного мероприятия. ",
				"Чистый и свежий воздух, комфортные условия размещения и большое разнообразие проведения досуга позволят Вам и Вашим клиентам не только продуктивно поработать, но и отлично отдохнуть от шумного города. "])


	section.section-grey#halls
		.section-grey_block.container
			+block-text('Конференц возможности',
			['Отель «Тропикана» предоставляет различные конференц-пакеты для проведения деловых и корпоративных мероприятий. Размещение гостей, оборудование конференц-залов, питание гостей, организация кофе-брейков, банкетов, фуршетов, а также тимбилдинги и активный корпоративный отдых – эти и другие услуги для Вашего мероприятия в отеле «Тропикана».'])
			.block-columns.clearfix.popup-container_img
				+block-columns__item("/3/1.jpg")
				+block-columns__item("/3/2.jpg")
				+block-columns__item("/3/3.jpg")

	section.section-img.section-img__halls-meridian
		.block-halls.section__block.section__block__container
			.block-text
				.block-text__title Конференц-зал «Меридиан»
				.block-text__content
					p.block-text__content___p Зал Меридиан отеля «Тропикана» идеально подойдет для организации больших конференций и банкетов.
					p.block-text__content___p В зале есть необходимое оборудование для проведения конференций или презентаций.
					p.block-text__content___p.big-text Площадь 160 кв.м.
					p.block-text__content___p.big-text.no-margin Вместимость до 150 человек.

	section.section-img.section-img__halls-laguna
		.block-halls.section__block.section__block__container
			.block-text
				.block-text__title Конференц-зал «Лагуна»
				.block-text__content
					p.block-text__content___p Зал расположен в спортивном комплексе.
					p.block-text__content___p.big-text.no-margin Вместимость до 250 человек.

	section.section-img.section-img__halls-sphere
		.block-halls.section__block.section__block__container
			.block-text
				.block-text__title Конференц-зал «Сфера»
				.block-text__content
					p.block-text__content___p Зал рассчитан на проведение крупных масштабных мероприятий или корпоративов.
					p.block-text__content___p.big-text.no-margin Вместимость до 450 человек.

	section.section-img.section-img__halls-meeting
		.block-halls.section__block.section__block__container
			.block-text
				.block-text__title Переговорные комнаты
				.block-text__content
					p.block-text__content___p В переговорных комнатах Вы сможете провести бизнес встречу или небольшую презентацию. Переговорные комнаты оборудованы необходимой техникой и инструментами для работы.
					p.block-text__content___p.big-text Площадь 60 и 64 кв.м.
					p.block-text__content___p.big-text.no-margin Вместимость 40 и 45 человек.


	//Форма - получить специальные тарифы
	include  ../sections/form-spectarif.pug

	section.section-img.section-img__rectourans#restourans
		.block-halls.section__block.section__block__container
			.block-text
				.block-text__title Рестораны и бары
				.block-text__content
					p.block-text__content___p На территории подмосковного отеля «Тропикана» в Вашем распоряжении: основной ресторан  шведской линией, несколько банкетных залов для ваших торжественных мероприятий, белоснежный летний шатер, открытые веранды и беседки различной вместимости для праздников и барбекю на природе, а также бары с уютной обстановкой.

	section.section-img.section-img__restouran-tropicana
		.section__block.section__block__container
			.block-text
				.block-text__title Ресторан «Тропикана»
				.block-text__content
					p.block-text__content___p В ресторане «Тропикана» проходит основное питание гостей по системе «шведский стол».
					p.block-text__content___p Свежие салаты, закуски, горячие блюда, основные блюда из мяса и рыбы, а также гарниры и выпечка составляют ежедневное меню ресторана.

	section.section-img.section-img__restouran-olmeca
		.section__block.section__block__container
			.block-text
				.block-text__title Ресторан «Ольмека»
				.block-text__content
					p.block-text__content___p Кулинарные изыски, русское гостеприимство и отличный сервис сделают  любую трапезу особенно приятной. Ресторан находится на первом этаже ресторанного комплекса. В ресторане можно организовать банкет или фуршет.


	section.section-img.section-img__restouran-7fouts
		.section__block.section__block__container
			.block-text
				.block-text__title Бар «7 футов»
				.block-text__content
					p.block-text__content___p Интерьер бара отлично подходит для организации тематических вечеринок.
					p.block-text__content___p Летом работает терраса.
					p.block-text__content___p Беседка для барбекю
					p.block-text__content___p На берегу озера находится деревянная беседка специально оборудованная для приготовления барбекю.
					p.block-text__content___p.big-text Вместимость до 50 человек.

	//Форма - получить специальные тарифы
	include  ../sections/form-spectarif.pug

	section.section-img.section-img__entertainment#entertainment
		.block-text
			.block-text__title Развлечения и отдых
			p.block-text__content___p Отдохнуть и расслабиться после трудового дня или корпоративного мероприятия гости отеля «Тропикана» могут в SPA-центре. Также Вы можете организовать тимбилдинг для своих коллег и партнеров.
			p.block-text__content___p.no-margin К услугам гостей:
			ul.block-text__list.no-style
				li.block-text__list__item - бассейн 25*10 с авквагоркой;
				li.block-text__list__item - ночной клуб «Наутилус»;
				li.block-text__list__item - боулинг;
				li.block-text__list__item - бильярд;
				li.block-text__list__item - прокат багги;
				li.block-text__list__item - анимационные программы;
				li.block-text__list__item - рыбалка;
				li.block-text__list__item - спортивный и тренажерный залы;
				li.block-text__list__item - пейнтбол;
				li.block-text__list__item - настольный теннис;
				li.block-text__list__item - картинг.

	section.section-img.section-img__spa#spa
		.section__block.section__block__container
			.block-text
				.block-text__title SPA-комплекс
				p.block-text__content___p SPA-комплекс отеля «Тропикана» в Подмосковье — это место отдыха и релаксации для тех, кто хочет на время забыть о ритме жизни мегаполиса и окунуться в атмосферу удовольствия и комфорта.
				p.block-text__content___p.no-margin SPA-комплекс включает:
					ul.block-text__list.no-style
						li.block-text__list__item - турецкий хамам;
						li.block-text__list__item - финскую сауну;
						li.block-text__list__item - русскую баню с банными уходами;
						li.block-text__list__item - гидромассажные ванны;
						li.block-text__list__item - лечебные ванны (бальнеотерапия);
						li.block-text__list__item - уходы для тела (пилинги);
						li.block-text__list__item - комфортную зону отдыха;
						li.block-text__list__item - флоатинг;
						li.block-text__list__item - уходы для лица в кабинете косметолога;
						li.block-text__list__item - ногтевой сервис и эстетическая косметология;
						li.block-text__list__item - талассотерапия (обертывания).

	//Форма - получить специальные тарифы
	include  ../sections/form-spectarif.pug

	section.section-grey.section-grey-rooms#rooms
		.section-grey_block.container
			+block-text('Номерной фонд', ['Отель «Тропикана» предлагает своим гостям комфортабельное размещение и круглосуточное обслуживание номеров. '])
			.block-columns.clearfix.popup-container_img
				+block-columns__item("/13/1.jpg")
				+block-columns__item("/13/2.jpg")
				+block-columns__item("/13/3.jpg")

	section.section-img.section-img__standart
		.section__block__container
			.block-text
				.block-text__title Стандарт 16 кв.м.
				p.block-text__content___p.no-margin В номере:
					ul.block-text__list.no-style
						li.block-text__list__item - кровать, прикроватные тумбочки, шкаф;
						li.block-text__list__item - туалетный столик с зеркалом, стул, вешалка;
						li.block-text__list__item - минибар, телевизор, телефон;
						li.block-text__list__item - санузел, душевая кабина, комплект полотенец, фен;
						li.block-text__list__item - балкон.

	section.section-img.section-img__standart2
		.section__block__container
			.block-text
				.block-text__title Стандарт + 20 кв.м.
				p.block-text__content___p.no-margin В номере:
				ul.block-text__list.no-style
					li.block-text__list__item - кровать, прикроватные тумбочки, шкаф;
					li.block-text__list__item - туалетный столик с зеркалом, стул;
					li.block-text__list__item - минибар, телевизор, телефон;
					li.block-text__list__item - санузел, душевая кабина, комплект полотенец, фен;
					li.block-text__list__item - балкон.

	section.section-img.section-img__lux
		.section__block__container
			.block-text
				.block-text__title Люкс 50 кв.м.
				p.block-text__content___p.no-margin В номере:
				ul.block-text__list.no-style
					li.block-text__list__item - прихожая: платяной шкаф, вешалка, зеркало, тапочки;
					li.block-text__list__item - комната 1:  рабочий стол, стул, столовая группа, мягкая мебель (диван, кресла и туалетный столик), торшер, мини-бар, телевизор;
					li.block-text__list__item - комната 2: двуспальная кровать, 2 прикроватные тумбочки, туалетный столик и полукресло, шкаф. В каждой комнате телефон, телевизор;
					li.block-text__list__item - ванная комната:  ванна, туалетные принадлежности (шампунь, жидкое мыло), комплект полотенец, халаты, фен.

	section.section-img.section-img__lux2
		.section__block__container
			.block-text
				.block-text__title Люкс двухэтажный 40-55 кв.м.
				p.block-text__content___p.no-margin В номере:
				ul.block-text__list.no-style
					li.block-text__list__item - прихожая: шкаф, вешалка, зеркало;
					li.block-text__list__item - комната 1:  рабочий стол, полукресло и мягкая группа (диван, кресла, журнальный столик), торшер, мини-бар, телевизор;
					li.block-text__list__item - комната 2: туалетный столик с зеркалом, стул, мини-бар, телевизор, телефон, кровать, прикроватные тумбочки;
					li.block-text__list__item - ванная комната: душевая кабина или ванная, туалетные принадлежности, комплект полотенец, фен.


	section.section-img.section-img__lux3
		.section__block__container
			.block-text
				.block-text__title Люкс именной 50 кв.м.
				p.block-text__content___p.no-margin В номере:
				ul.block-text__list.no-style
					li.block-text__list__item - прихожая: платяной шкаф, вешалка, зеркало, тапочки;
					li.block-text__list__item - комната 1: рабочий стол, стул, столовая группа, мягкая мебель (диван, кресла и туалетный столик), торшер, мини-бар, телевизор;
					li.block-text__list__item - комната 2: двуспальная кровать, 2 прикроватные тумбочки, туалетный столик и полукресло, шкаф. В каждой комнате телефон, телевизор;
					li.block-text__list__item - в спальной комнате: двуспальная кровать, 2 прикроватные тумбочки, туалетный столик и полукресло, шкаф. В каждой комнате телефон, телевизор;
					li.block-text__list__item - ванная комната:  джакузи, туалетные принадлежности (шампунь, жидкое мыло), комплект полотенец, халаты, фен.


	//Форма - получить специальные тарифы
	include  ../sections/form-spectarif.pug

	section.section-img.section-img__contacts#contacts
		.section-img__contacts___mask.section-img__mask
		.section__block__container
			.block-text
				.block-text__content
					p.block-text__content___p КОНТАКТЫ <br>  +7 (499) 653-80-11 корпоративный отдел
					p.block-text__content___p  РЕЖИМ РАБОТЫ <br> c 9.00 до 21.00 <br> 	в субботу и воскресенье c 11.00 до 20.00
					.block-text__content___p
						a.block-text__content___a(href="http://tropicana-holiday-hotel.ru/", target="_blank") http://tropicana-holiday-hotel.ru
					p.block-text__content___p  АДРЕС <br>Следовать по Пятницкому шоссе 20 км до деревни Брехово, br> далее по указателям Отель «Тропикана»
						|