extends ../layout

block variables
	-var title ='Отель «HELIOPARK Thalasso»'
	-var yaCount ='43285104'

block title
	title #{title} || Корпоративная презентация

block content
	section.section-img.section-img__logo#main
		.block-logo.section__block
			img.block-logo__img(src='assets/img/logo.png')
			.block-logo__desc раздел для корпоративных клиентов

	section.section-img.section-img__about
		.section__block__container
			+block-text('Гелиопарк талассо', [
			"Отель «HELIOPARK Thalasso» расположен в экологически чистой зоне в 45 км от Москвы по Новорижскому шоссе.",
			"Отель предлагает гостям отличные возможности и современные площадки для проведения корпоративных мероприятий любого формата и уровня. ",
				"Дополнить корпоративное или деловое мероприятие можно релаксационными, SPA-программами, которые предлагает отель, а также организовать тимбилдинг, банкет или фуршет. "])
			p.block-text__content___p К Вашим услугам площадки и конференц-залы разной вместимости, рестораны и банкетные залы для проведения фуршетов и гала-ужинов.


	section.section-img.section-img__allinclusive#allinclusive
		.section__block.section__block__container
			+block-text('Все Включено',
			["Отель «HELIOPARK Thalasso» работает по системе «все включено»."])
			p.block-text__content___p.no-margin В стоимость входит:
				ul.block-text__list.no-style
					li.block-text__list__item - проживание;
					li.block-text__list__item - трехразовое питание по системе «шведский стол»;
					li.block-text__list__item - бильярд;
					li.block-text__list__item - настольный теннис;
					li.block-text__list__item - парковка;
					li.block-text__list__item - спортивные открытые площадки;
					li.block-text__list__item - услуги оздоровительного Wellness-center;
					li.block-text__list__item - прокат спортинвентаря и гладильных принадлежностей;
					li.block-text__list__item - соляная комната.

	section.section-grey#halls
		.section-grey_block.container
			+block-text('Конференц возможности',
			['Отель «HELIOPARK Thalasso» представляет множество вариантов для проведения делового мероприятия или корпоративного выезда. Вы сможете подобрать конференц-зал под ключ, в отеле также есть возможность устроить кое-брейки в перерыве деловой программы.',
				'Все конференц-залы отеля оборудованы LCD-проектором, экраном, флипчартом, бумагой для флипчарта, маркерами.'])
			.block-columns.clearfix.popup-container_img
				+block-columns__item("/3/1.jpg")
				+block-columns__item("/3/2.jpg")
				+block-columns__item("/3/3.jpg")

	section.section-img.section-img__halls-zoichy
		.block-halls.section__block.section__block__container
			.block-text
				.block-text__title Переговорная комната «Сочи»
				.block-text__content
					//p.block-text__content___p
					p.block-text__content___p.big-text Площадь 30 кв.м.
					p.block-text__content___p.big-text.no-margin Вместимость до 35 человек.

	section.section-img.section-img__halls-penza
		.block-halls.section__block.section__block__container
			.block-text
				.block-text__title Переговорная комната «Пенза»
				.block-text__content
					//p.block-text__content___p
					p.block-text__content___p.big-text Площадь 30 кв.м.
					p.block-text__content___p.big-text.no-margin Вместимость до 35 человек.

	section.section-img.section-img__halls-zvenigorod
		.block-halls.section__block.section__block__container
			.block-text
				.block-text__title Конференц-зал «Звенигород»
				.block-text__content
					//p.block-text__content___p
					p.block-text__content___p.big-text Площадь 220 кв.м.
					p.block-text__content___p.big-text.no-margin Вместимость до 120 человек.

	section.section-img.section-img__halls-zvenigorod1
		.block-halls.section__block.section__block__container
			.block-text
				.block-text__title Переговорная зона «Звенигород1»
				.block-text__content
					//p.block-text__content___p
					p.block-text__content___p.big-text Площадь 40 кв.м.
					p.block-text__content___p.big-text.no-margin Вместимость до 40 человек.

	section.section-img.section-img__halls-zvenigorod2
		.block-halls.section__block.section__block__container
			.block-text
				.block-text__title Переговорная зона «Звенигород2»
				.block-text__content
					//p.block-text__content___p
					p.block-text__content___p.big-text Площадь 40 кв.м.
					p.block-text__content___p.big-text.no-margin Вместимость до 40 человек.

	section.section-img.section-img__halls-zvenigorod3
		.block-halls.section__block.section__block__container
			.block-text
				.block-text__title Переговорная зона «Звенигород3»
				.block-text__content
					//p.block-text__content___p
					p.block-text__content___p.big-text Площадь 40 кв.м.
					p.block-text__content___p.big-text.no-margin Вместимость до 40 человек.

	section.section-img.section-img__halls-kaliningrad
		.block-halls.section__block.section__block__container
			.block-text
				.block-text__title Конференц-зал «Калининград»
				.block-text__content
					//p.block-text__content___p
					p.block-text__content___p.big-text Площадь 65 кв.м.
					p.block-text__content___p.big-text.no-margin Вместимость до 60 человек.

	section.section-img.section-img__halls-moscow
		.block-halls.section__block.section__block__container
			.block-text
				.block-text__title Зал «Москва»
				.block-text__content
					//p.block-text__content___p
					p.block-text__content___p.big-text Площадь 90 кв.м.
					p.block-text__content___p.big-text.no-margin Вместимость до 70 человек.

	section.section-img.section-img__halls-baden
		.block-halls.section__block.section__block__container
			.block-text
				.block-text__title Зал «Баден-Баден»
				.block-text__content
					//p.block-text__content___p
					p.block-text__content___p.big-text Площадь 260 кв.м.
					p.block-text__content___p.big-text.no-margin Вместимость до 300 человек.

	section.section-img.section-img__halls-tirol
		.block-halls.section__block.section__block__container
			.block-text
				.block-text__title Бар «Тироль»
				.block-text__content
					//p.block-text__content___p
					p.block-text__content___p.big-text Площадь 234 кв.м.
					p.block-text__content___p.big-text.no-margin Вместимость до 70 человек.

	section.section-img.section-img__halls-summer
		.block-halls.section__block.section__block__container
			.block-text
				.block-text__title Летняя веранда
				.block-text__content
					//p.block-text__content___p
					p.block-text__content___p.big-text Площадь 70 кв.м.
					p.block-text__content___p.big-text.no-margin Вместимость до 50 человек.

	//Форма - получить специальные тарифы
	include  ../sections/form-spectarif.pug

	section.section-grey#restourans
		.section-grey_block.container
			+block-text('Рестораны и бары',
			['Основное питание гостей отеля по системе «шведский стол» осуществляется в ресторане «Вдохновение». Помимо основного ресторана а отеле можно провести время в баре «Тироль», фито-баре Wellness-центра, или воспользоваться круглосуточным обслуживанием номеров. '])
			.block-columns.clearfix.popup-container_img
				+block-columns__item("/15/1.jpg")
				+block-columns__item("/15/2.jpg")
				+block-columns__item("/15/3.jpg")

	section.section-img.section-img__restouran-inspiration
		.section__block.section__block__container
			.block-text
				.block-text__title Ресторан «Вдохновение»
				.block-text__content
					p.block-text__content___p Ресторан «Вдохновение» украшают предметы старинной мебели, антикварный буфет и комод XIX века.
					p.block-text__content___p На завтрак, обед и ужин ресторан предлагает своим гостям разнообразные блюда «шведского стола».
					p.block-text__content___p Вечером в ресторане можно поужинать в романтической обстановке, ресторан открывает свои двери в 19.00 и работает до последнего гостя.
					p.block-text__content___p.big-text.no-margin Вместимость до 300 человек.

	section.section-img.section-img__restouran-tirol
		.section__block.section__block__container
			.block-text
				.block-text__title Бар «Тироль»
				.block-text__content
					p.block-text__content___p Оригинальный интерьер бара, столы из добротного натурального дерева, старинные кованые фонари и приглушённый свет располагают к приятной беседе, после которой можно сыграть в бильярд.
					p.block-text__content___p Здесь каждый вечер проходит ночная дискотека, а по субботам яркие шоу-программы с участием приглашенных артистов.
					p.block-text__content___p Бар работает круглосуточно.
					p.block-text__content___p.big-text.no-margin Вместимость до 70 человек при банкетной рассадке.

	section.section-img.section-img__restouran-wellness
		.section__block.section__block__container
			.block-text
				.block-text__title Фито-бар Wellness-центра
				.block-text__content
					p.block-text__content___p Удобная мебель и большой ассортиментный ряд целительных напитков позволяет приятно проводить время с пользой для организма.
					p.block-text__content___p В баре будут предложены травяные настои, соки, фреши, кислородные коктейли и иные оздоровительные напитки.

	//Форма - получить специальные тарифы
	include  ../sections/form-spectarif.pug

	section.section-img.section-img__entertainment#entertainment
		.block-text
			.block-text__title Развлечения и спорт
			p.block-text__content___p.no-margin В отеле «HELIOPARK Thalasso» к Вашим услугам широкий выбор дополнительных услуг, а также развлечений:
			ul.block-text__list.no-style
				li.block-text__list__item - прокат спортинвентаря;
				li.block-text__list__item - пейнтбол;
				li.block-text__list__item - тир;
				li.block-text__list__item - лазертаг;
				li.block-text__list__item - рыбалка;
				li.block-text__list__item- лиана-парк;
				li.block-text__list__item - бильярд;
				li.block-text__list__item - конные прогулки;
				li.block-text__list__item - настольный теннис;
				li.block-text__list__item - площадки для BBQ;
				li.block-text__list__item - развлекательные и анимационные программы.

	section.section-img.section-img__spa#spa
		.section__block.section__block__container
			.block-text
				.block-text__title SPA-комплекс
				p.block-text__content___p Опытные специалисты SPA-комплекса помогут снять напряжение и провести время с пользой для здоровья.
				p.block-text__content___p.no-margin К услугам гостей:
					ul.block-text__list.no-style
						li.block-text__list__item - все виды массажа;
						li.block-text__list__item - косметологические программы;
						li.block-text__list__item - лечебные ванны и обертывания
						li.block-text__list__item - бассейн с водопадом;
						li.block-text__list__item - криосауна;
						li.block-text__list__item - римская парная;
						li.block-text__list__item - турецкая баня, финская сауна;
						li.block-text__list__item - банный комплекс (каминный зал, бассейн, финская сауна, римская парная, инфракрасная сауна и бильярдный стол).

	//Форма - получить специальные тарифы
	include  ../sections/form-spectarif.pug

	section.section-grey.section-grey-rooms#rooms
		.section-grey_block.container
			+block-text('Номерной фонд', ['К услугам гостей 162 номера различных категорий, предназначенных для проживания до 5 человек.'])
			.block-columns.clearfix.popup-container_img
				+block-columns__item("/21/1.jpg")
				+block-columns__item("/21/2.jpg")
				+block-columns__item("/21/3.jpg")

	section.section-img.section-img__standart
		.section__block__container
			.block-text
				.block-text__title STANDARD SINGLE 11 кв.м.
				p.block-text__content___p.no-margin В номере:
					ul.block-text__list.no-style
						li.block-text__list__item - односпальная кровать;
						li.block-text__list__item - прикроватная тумбочка, стол-тумба, кресло;
						li.block-text__list__item - телефон, телевизор, минибар;
						li.block-text__list__item - полка для багажа и обуви.

	section.section-img.section-img__standart2
		.section__block__container
			.block-text
				.block-text__title STANDARD DOUBLE/TWIN 11-14 кв.м.
				p.block-text__content___p.no-margin В номере:
				ul.block-text__list.no-style
					li.block-text__list__item - двуспальная или две односпальные кровати;
					li.block-text__list__item - прикроватные тумбочки, кресло;
					li.block-text__list__item - телефон, телевизор, минибар;
					li.block-text__list__item - полка для багажа и обуви.

	section.section-img.section-img__superior
		.section__block__container
			.block-text
				.block-text__title SUPERIOR STANDARD 15 кв.м.
				p.block-text__content___p.no-margin В номере:
				ul.block-text__list.no-style
					li.block-text__list__item - двуспальная или две односпальные кровати, прикроватные тумбочки;
					li.block-text__list__item - журнальный столик, 2 полукресла;
					li.block-text__list__item - шкаф, телефон, телевизор;
					li.block-text__list__item - минибар, раскладной диван.

	section.section-img.section-img__delux
		.section__block__container
			.block-text
				.block-text__title DELUXE 18 кв.м.
				p.block-text__content___p.no-margin В номере:
				ul.block-text__list.no-style
					li.block-text__list__item - две односпальные кровати, прикроватные тумбочки;
					li.block-text__list__item - стол, 2 полукресла, шкаф;
					li.block-text__list__item - раскладной диван, телефон;
					li.block-text__list__item - телевизор, минибар.

	section.section-img.section-img__suite
		.section__block__container
			.block-text
				.block-text__title SUITE 22 кв.в.
				p.block-text__content___p.no-margin В номере:
				ul.block-text__list.no-style
					li.block-text__list__item - двуспальная кровать, прикроватные тумбочки;
					li.block-text__list__item - журнальный столик, 2 полукресла;
					li.block-text__list__item - шкаф, телефон, телевизор;
					li.block-text__list__item - минибар, раскладной диван.

	section.section-img.section-img__suite2
		.section__block__container
			.block-text
				.block-text__title SUITE-2 23 кв.м.
				p.block-text__content___p.no-margin В номере:
				ul.block-text__list.no-style
					li.block-text__list__item - двуспальная кровать, прикроватные тумбочки;
					li.block-text__list__item - стол, 2 полукресла, шкаф;
					li.block-text__list__item - раскладной диван, телефон;
					li.block-text__list__item - телевизор, минибар, журнальный столик, комод.

	section.section-img.section-img__suite3
		.section__block__container
			.block-text
				.block-text__title BIG SUITE-2 44 кв.м.
				p.block-text__content___p.no-margin В номере:
				ul.block-text__list.no-style
					li.block-text__list__item - двуспальная кровать, прикроватные тумбочки;
					li.block-text__list__item - стол туалетный, стул;
					li.block-text__list__item - комод, шкаф платяной;
					li.block-text__list__item - телевизор, телефон, журнальный столик;
					li.block-text__list__item - 2 кресла, диван, минибар.

	//Форма - получить специальные тарифы
	include  ../sections/form-spectarif.pug

	section.section-img.section-img__contacts#contacts
		.section-img__contacts___mask.section-img__mask
		.section__block__container
			.block-text
				.block-text__content
					p.block-text__content___p КОНТАКТЫ <br>  +7 (499) 653-80-11 корпоративный отдел
					p.block-text__content___p  РЕЖИМ РАБОТЫ <br> c 9.00 до 21.00 <br> 	в субботу и воскресенье c 11.00 до 20.00
					.block-text__content___p
						a.block-text__content___a(href="http://heliohotels.ru/", target="_blank") http://heliohotels.ru/
					p.block-text__content___p  АДРЕС <br>143185, Россия, г. Звенигород, ул. Лермонтова, д.1, <br>  45 км от Москвы по Новорижскому шоссе
						|