extends ../layout

block title
	title #{title} | Тимбилдинг
	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZ4H8srItPhvk_P5EubMv1-NmPYQ1d5VI	")

block content
	.wrapper
		.maincontent

			-var pageName = 'main'

			include ../sections/header

			include ./index/main

			include ./index/types
			include ./index/top-season
			include ./index/adv
			//include ./index/reviews
			include ../sections/form-main

			#map.main-map



		include ../sections/footer
