extends ../layout

block title
	title #{title} | Программы

block content
	.wrapper
		.maincontent

			-var pageName = 'prog'

			include ../sections/header
			.container
				.prog
					include ./prog/sidebar
					include ./prog/content



		include ../sections/footer