-
	var advs= {
		adv1:{
		title: "Развлекательных программ",
		amount: 98,
		desc: "+ 24 за последний месяц"
		},
		adv2: {
		title: "Авторских площадок",
		amount: 117,
		desc: "+ 18 за последний месяц"
		},
		adv3: {
		title: "Постоянных клиентов",
		amount: 185,
		desc: "+ 9 за последний месяц"
		}
	}

section.section.section_advs
	.container
		.advs
			ul.advs__list
				each adv, key in advs
					li.advs__item(id=`${key}`)
						.advs__title-wrap
							span.advs__title= adv.title
						.advs__amount= adv.amount
						.advs__desc= adv.desc

