section.section.section_form-main
	.container
		.form-main
			.form-main__title Оставьте заявку, наш специалист свяжется с Вами
			.form-main__form
				.form-main__input.hidden
				input.form-main__inp(name="name" placeholder="Имя" required="" type="text")
				input.form-main__inp(name="email" placeholder="E-mail" required="" type="email")
				button.form-main__btn Отправить
