section.section_main
	.container
		.main-title
			img.main-title__img(src="assets/img/title.png")
		.socials__wrap
			+socials('main', ['facebook-logo-button', 'instagram-logo', 'vk-social-logotype'], ['#', '#', '#'])