-
	var clients= ['client1.png', 'client2.png', 'client3.png', 'client4.png']

section.section.section_reviews
	.container
		.clients
			.clients__title Отзывы о нашей работе
			ul.clients__list
				each client in clients
					li.clients__item
						img.clients__img(src=`assets/img/${client}`)

		.reviews
			+reviews(['1 Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, 	например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки,скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же	текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь	генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200латинских слов, а также набор моделей предложений.',
				'2 Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, 	например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки,скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же	текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь	генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200латинских слов, а также набор моделей предложений.',
				'3 Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, 	например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки,скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же	текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь	генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200латинских слов, а также набор моделей предложений.',
				'4 Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, 	например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки,скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же	текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь	генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200латинских слов, а также набор моделей предложений.'], 0)

