-
	var types= {
		type1:{
		href: '#',
		img: 'brain',
		desc: "Интеллектуальные	игры"
		},
		type2: {
		href: '#',
		img: 'route',
		desc: "Корпоративные квесты"
		},
		type3: {
		href: '#',
		img: 'trophy',
		desc: "Активные	тимбилдинги"
		},
		type4: {
		href: '#',
		img: 'paper-plane',
		desc: "Творческие тимбилдинги"
		}
	}

section.section.section_types#types
	.container
		.types
			h2.title.types__title А какой тимбилдинг подойдет именно Вам?
			ul.types__list
				each type, key in types
					li.types__item
						a.types__link(href=`${type.href}`)
							svg.types__svg.animate(data-animate='orangeBig' id=`${key}`)
								use(xlink:href=`assets/img/sprite.svg#${type.img}`)
							.types__desc= type.desc
